[2015-12-26 01:40] gilbertohasnofb opened #2 "re-UV-map rudder pedals"
Re-UV-map rudder pedals as they are not in the same size in the texture file

[2015-12-26 01:40] gilbertohasnofb commented on #2
We can check this out once I push the textures as it will make this much easier I suppose. Just give me a couple of days.

[2015-12-26 01:41] gilbertohasnofb opened #3 "Spinning propeller blades look worse than before"
Spinning propeller blades went from having a round contour and being textured to being simple untextured triangles, see before and after:

![](https://camo.githubusercontent.com/f3a943bc62726b357aca1eda9d60c67e60587f72/687474703a2f2f61626c6f61642e64652f696d672f666766732d73637265656e2d30313435797568672e6a7067)

![](http://s24.postimg.org/xa2khh6hx/fgfs_screen_007.png)

[2015-12-26 15:00] gilbertohasnofb opened #4 "Reposition some of the lights"
Some of the lights must be repositioned:

- the landing lights in the right wing should be moved a bit backwards (towards the tail)
- the wing tip lights on both sides should be moved a bit backwards and a tiny bit upwards as well (see reference below)
- strobe lights may need to be moved a bit upwards as well

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/12006881/bb4e3328

[2015-12-26 19:11] gilbertohasnofb opened #5 "RPM and mixture levers aren't visible"
RPM and mixture levers aren't visible, they are "inside" the cockpit and should be moved backwards (towards the pilot)

[2015-12-27 00:02] gilbertohasnofb opened #7 "Two circuit breakers missing as 3D objects in the panel"
There are two two circuit breakers missing as 3D objects in the panel: `ALT FLD` and `WARN`. They should be located to the right of the avionics master. Their texture is already included in the panel so we can simply add them at that position.

[2015-12-27 00:03] gilbertohasnofb opened #8 "Wrong max fuel capacity"
Currently in the sim the max fuel capacity is 83.6 gal, while POH says that the 182S can carry 92.0 gal total and 88.0 gal usable (I think we normally show the usable fuel in sim).

[2015-12-27 00:03] gilbertohasnofb opened #9 "Some instruments are not in the correct position"
Some instruments are not in the correct position (they are a bit "inside" the cockpit):

![fgfs-screen-008](https://cloud.githubusercontent.com/assets/5700795/12008341/ab6fb0fc-ac35-11e5-8da9-f39810a5b63a.png)

[2015-12-27 00:05] gilbertohasnofb opened #10 "Yoke rotation point not centralize in the yoke bar"
Yoke rotation point not centralize in the yoke bar, which then moves around instead of staying in the same place.

all good:
![fgfs-screen-007](https://cloud.githubusercontent.com/assets/5700795/12008351/c87a33e8-ac35-11e5-855d-821e90409aad.png)

wrong position:
![fgfs-screen-006](https://cloud.githubusercontent.com/assets/5700795/12008352/d0e56a02-ac35-11e5-988b-b08c75ccd6a0.png)

[2015-12-27 00:05] gilbertohasnofb opened #11 "Add Hobbs meter to the right panel"
Add Hobbs meter to the right panel (maybe use c172p one, they look quite similar)

[2015-12-27 00:06] gilbertohasnofb opened #12 "Add ELT test gauge to right panel"
Add ELT test gauge to right panel (panel texture already contains a label ready to be used)

[2015-12-27 12:57] gilbertohasnofb opened #13 "Add license to repo"
I believe we should add a license to our repository.

[2015-12-27 12:57] gilbertohasnofb commented on #13
@HHS81 I think we never spoke about it, Heiko, but are you up for a GPL license?

[2015-12-27 15:57] HHS81 commented on #3
yep, it is a regression, and will be replaced with a better animation soon.

[2015-12-27 16:00] HHS81 commented on #4
I used this: http://www.airmart.com/sites/default/files/styles/slideshow-full/public/Left%20in%20front%20of%20wing%20low%20N9570A.jpg?itok=BbJLl63G as reference (showing a C182S ), but indeed my lights seems not to be at the right position.

[2015-12-27 16:15] gilbertohasnofb commented on #4
You are right, the S model has lights as you shown in that image. Here is another one from www.airliners.net :

![](http://cdn-www.airliners.net/aviation-photos/photos/8/3/8/2740838.jpg)

I think the angle in the image I first posted may give the impression they are too much to the back.

[2015-12-27 16:34] HHS81 commented on #8
Fixed in master branch. Was due to wrong conversion number.

[2015-12-27 16:34] #8 closed

[2015-12-27 16:35] gilbertohasnofb commented on #8
:+1:

[2015-12-27 16:36] HHS81 commented on #13
Yep, I added just now a GPL V2.0 licence, as I used some things from Stuarts C182 which is under GPL 2.0

[2015-12-27 16:36] #13 closed

[2015-12-27 16:37] gilbertohasnofb commented on #13
Perfect.

[2015-12-27 16:51] HHS81 commented on #5
That's strange. I know I changed the position of those in the 3d-model a bit, but this should never break the animation. I'll investigate just right now.

[2015-12-27 16:53] gilbertohasnofb commented on #5
It looks to me that what happened is that you tried to set the minimal position of the mixture level model while the mixture was fully rich. Same for the RPM.

[2015-12-27 17:18] HHS81 commented on #10
Fixed in Master-Branch, also changed tilting of Yoke (no influence on uvmapping!)

[2015-12-27 17:18] #10 closed

[2015-12-27 17:19] HHS81 commented on #5
Found it: I placed both lever in full position assuming, that pitch and mixture is always in full position. They are not, FGFS puts them in into full-position after loading the -set.xml file. So it is fixed now!

[2015-12-27 17:19] #5 closed

[2015-12-27 17:21] gilbertohasnofb commented on #10
Perfect, thanks! Talking of which, when you have time please check the PR for the textures, I am very curious for your opinions :smile:

[2015-12-27 17:22] gilbertohasnofb commented on #5
:+1:

[2015-12-27 17:56] HHS81 commented on #2
Fixed Issue #2

[2015-12-27 17:58] HHS81 opened #14 "Alt Static Air Knob was missing"
Added Alt Static Air Knob as 3d model and updated Gimp-Paintkit with. It is in the upper row, first hole.
Important when it comes to icing simulation....

[2015-12-27 17:58] HHS81 commented on #7
fixed it with the former updates today by me.

[2015-12-27 17:58] #7 closed

[2015-12-27 17:59] gilbertohasnofb commented on #14
Ok, I will add to the PR, so please don't merge it yet. I will fix this and also the rudder pedals.

[2015-12-27 18:01] HHS81 commented on #14
I'm currently fixing the bugs I introduced and you reported here, I will merge when you give me permission. But what I saw looked really great already!

[2015-12-27 18:02] gilbertohasnofb commented on #14
Okay Heiko, great to hear it! So once you have these 3D bugs solved I will then re-adapt the textures and create a new PR, ok?

[2015-12-27 18:22] HHS81 commented on #2
Hi,

did a mistake with the pedals uvmapping, I remapped them to indentical size, but i didn't use your texture as reference. I will fix this.
The Alt Static Air Knob is uvmapped, it just needs a red knob texture. All other things will not be influenced in any way.

[2015-12-27 18:43] HHS81 commented on #12
Added a branch "instrumentation" containing ELT test gauge, positioned on the given spot. Please check before PR

[2015-12-27 18:43] HHS81 commented on #11
Added a branch "instrumentation" containing Hobbs meter from c172p, positioned on hopefully the right spot. Please check before PR

[2015-12-27 19:00] gilbertohasnofb commented on #2
If you want, I can do it myself, since I will make corrections to the textures anyway. So don't bother :wink:

:+1:

[2015-12-27 19:01] gilbertohasnofb commented on #12
Okay, I will do so now, also for the Hobbs.

[2015-12-27 19:01] HHS81 commented on #2
I fixed it now to your layout, it was easier for me than I think it will be for you. And I was responsible for the mess.... ;-)

[2015-12-27 19:02] gilbertohasnofb commented on #2
hehehe thanks then, Heiko!

[2015-12-27 19:23] HHS81 commented on #4
I repositioned landing and taxilights more backwards toward the wing. I also fixed the beacon light position. Not sure yet about the wing tip lights

[2015-12-27 19:24] gilbertohasnofb commented on #4
IMO, they should be a tad bit higher, but it's up to you, they look very close to the reference images.

[2015-12-27 19:35] gilbertohasnofb opened #15 "Correct UV map of three main levers"
Currently the UV map of the three main levers (throttle, RPM, mixture) look very good, except for the cylinder which "enters" the panel (see below):

![fgfs-screen-005](https://cloud.githubusercontent.com/assets/5700795/12011702/21ffa68e-acd9-11e5-8ed2-b2545ba0d258.png)

I ran a test and I found out their colour are mapped to the centre of the lever "heads", see:

![fgfs-screen-004](https://cloud.

[2015-12-27 19:39] gilbertohasnofb opened #16 "UV map of some circuit breakers could be better"
UV map of some circuit breakers could be better. Some of them are lacking any texture on the top of the hexagon where they sit, see:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/12011726/db26b9e0-acd9-11e5-9a3f-cd2a264cdbfd.png)

[2015-12-27 19:54] gilbertohasnofb commented on #12
The new gauges look good, but I think their position could be reconsidered a bit. First of all, the ELT gauge you used look a bit different than what I have seen before (it looks a bit larger as well):

![elt](https://cloud.githubusercontent.com/assets/5700795/12011758/89ff52dc-acdb-11e5-8684-c327655d9ab1.jpg)

As for the position, we have this image in the POH:

![screenshot from 2015-12-27 20 46

[2015-12-27 19:55] gilbertohasnofb commented on #12
So if you want to use this ELT test gauge, that's fine with me, but maybe we can reposition them a bit: I think this gauge needs to be a bit lower because it's almost colliding with the top of the panel (where the lamp is), and maybe the Hobbs would look better directly below it.

[2015-12-27 20:14] HHS81 commented on #3
Created a new blurredprop, but issues with z-fighting with windshield. Probably not fixable due the nature of blend-animation and shader-effect.

[2015-12-27 20:17] HHS81 commented on #3
![fgfs-screen-001](https://cloud.githubusercontent.com/assets/12649375/12011821/3184dac4-acdf-11e5-9be7-66a2b538cd7c.jpg)

[2015-12-27 20:20] gilbertohasnofb commented on #3
Yes, I just tested it and it looks pretty good!

I can't reproduce that, here it looks fine.

[2015-12-27 20:23] HHS81 commented on #12
I used this as reference: http://www.flyperformance.com/wp-content/uploads/2015/05/N182FN-46.jpg but it seems the different ELT was replaced more to the left. I think I will reposition it, so it will be lower and place the Hobbs directly below.

[2015-12-27 20:25] HHS81 commented on #3
Hmmm... strange looking through the prop towards the windhield from outside let the windshield disappear (as in the image above)....

[2015-12-27 20:25] gilbertohasnofb commented on #12
:+1: Then I will remove the ELT labels from the cockpit texture as your gauge does not need them.

[2015-12-27 20:25] gilbertohasnofb commented on #4
Just tested it and they look very good IMO, I think we can close this issue. But I found another strange thing with the lights: from shallow angles, the wingtip lights grow in size. Is this a side effect of having them fade out according to the angle? See:

![fgfs-screen-003](https://cloud.githubusercontent.com/assets/5700795/12011848/286eaf9a-ace0-11e5-8a8e-c26c7928d465.png)

[2015-12-27 20:25] gilbertohasnofb commented on #3
Wait, I will test that again.

[2015-12-27 20:32] gilbertohasnofb commented on #3
Hmm, I take it back, the problem is there indeed. But I don't think this can be considered as a z-fighting as the prop and the windshield do not share the same z position. Would you like me to ask the c172p team if they know what might be going on? The prop blur in that plane isn't causing any troubles I believe.

[2015-12-27 20:36] HHS81 commented on #16
Fixed. Not lack of textures, but sinply the text was to close to the circuit breakers. Fixed by shifting the uvmap edge of the circuit breakers a bit down so it won't interfere with the text.

[2015-12-27 20:37] #2 closed

[2015-12-27 20:37] HHS81 commented on #3
yes, why not.

[2015-12-27 20:39] HHS81 commented on #12
you can keep it, we might still remove the current gauge and add the specific model later. At least for the beginning we have a working ELT.

[2015-12-27 20:40] HHS81 commented on #15
yep, should be possible.

[2015-12-27 20:54] gilbertohasnofb commented on #3
Ok, I will do that.

[2015-12-27 20:54] gilbertohasnofb commented on #12
Sounds okay to me.

[2015-12-27 20:55] gilbertohasnofb commented on #15
Thanks!

[2015-12-27 20:58] HHS81 commented on #4
Ah, thanks for the reminder. I have to recalculate the angles in the animation, was on my to-do-list just before I headed back to home.

[2015-12-27 20:59] gilbertohasnofb commented on #4
I will create a new issue for it then so we can close this one once you are happy with the positions.

[2015-12-27 21:01] gilbertohasnofb opened #17 "Recalculate light angles in the animation"
https://github.com/HHS81/c182/issues/4#issuecomment-167439640:

![](https://cloud.githubusercontent.com/assets/5700795/12011848/286eaf9a-ace0-11e5-8a8e-c26c7928d465.png)

Heiko wrote:

[2015-12-28 20:14] gilbertohasnofb opened #18 "re-UV map seats"
Re-UV map seats: currently all four seats are identical models, but they are mapped into a 2048x2048 texture. And unfortunately, like #2, the UV-map isn't really perfectly symmetrical...

Proposed solution: use a single 1024x1024 texture for all four seats. If you accept that, please use this paintkit (which is just the top left corner of your paintkit) and this texture as reference, Heiko, as I h

[2015-12-28 20:15] gilbertohasnofb commented on #18
Resulting in this:

![fgfs-screen-002](https://cloud.githubusercontent.com/assets/5700795/12024772/00db38fe-ada8-11e5-9c7c-28a6da3d538d.png)

![fgfs-screen-003](https://cloud.githubusercontent.com/assets/5700795/12024775/08b17c8c-ada8-11e5-94a6-8c71e4b650c7.png)

[2015-12-28 20:15] gilbertohasnofb opened #19 ""holes" in the 3D model of the seats"
There are some "holes" in the 3D model of the seats, see:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/12024790/28ce38b6-ada8-11e5-9c53-d3cab20496b6.png)

[2015-12-28 20:16] gilbertohasnofb commented on #19
Possibly related to https://github.com/HHS81/c182/issues/18

[2015-12-28 20:46] #14 closed

[2015-12-28 21:20] HHS81 commented on #18
They are not really identical models. The back ones are indeed a bit different as they has a different height.(like in real)

It was my intention to do it like that: I plan to use lightmaps for the whole cabin. A single UVmap used for all four seats will make the look of the lighting wrong and unrealistic.
I see also you used alpha channel on the textures for the seatframe. Alpha channels are alwa

[2015-12-28 21:29] gilbertohasnofb commented on #18
I see, so let's make it like this:

- I will remove the alpha channel and simply make a dark square so when you create the new model for the seat frame the textures will be ready
- I will then create the four textures for each individual seat, no problems
- let's close this issue then and open a new one for the new model of the seat frames

As for the reference for the seat frame, I have this pict

[2015-12-28 21:32] HHS81 commented on #19
Here in the blend-file I can't see any holes, but a not so clean made mesh. The back row doesn't show this. So maybe I should use and adapt the back row for the front row.

[2015-12-28 21:35] gilbertohasnofb commented on #19
Will this influence the current UV mapping? If so, please let me know so I freeze the work on the seats until this is fixed.

[2015-12-28 21:37] HHS81 commented on #19
Only the head-rest seems to be different. But better freeze it, maybe I can map it better, so you have it more easy.

[2015-12-28 21:41] gilbertohasnofb commented on #19
:+1:

[2015-12-28 21:47] HHS81 commented on #18
After a long research I don't finy any reference images. So I will use the one from the C172p.

[2015-12-28 21:49] gilbertohasnofb commented on #18
Sounds reasonable to me, and if later we come across some better reference image we can then do something about it.

[2015-12-29 18:44] gilbertohasnofb opened #20 "Improve seat frames"
From https://github.com/HHS81/c182/issues/18#issuecomment-167661607:

@HHS81 wrote:

[2015-12-29 18:44] #18 closed

[2015-12-29 18:48] gilbertohasnofb opened #21 "better magneto switch model"
We could improve the current magneto switch model, what about using the c172p one? It also has a key attached to it which is animated. What do you think, @HHS81?

[2015-12-29 19:38] gilbertohasnofb opened #22 "better UV-map of cockpit (see image)"
Better UV-map of cockpit, see image below:

![walls](https://cloud.githubusercontent.com/assets/5700795/12040783/186753bc-ae6c-11e5-9f20-189c352d1949.jpg)

[2015-12-29 19:38] gilbertohasnofb commented on #22
Probably this will be easier to fix once I push all the textures.

[2015-12-29 22:22] HHS81 opened #23 "Major bug: Wrong aircraft dimensions!!!"
The original C182 -Q has a length of 28ft, the later ones (S-T) has about 29ft. But we model the S-T Variant.

Issue:
1.) The current 3d-model has the shorter nose of the old variants.
2.) The current 3d-model has 1.1161 x larger wing span than it should have and pobably chord as well
3.) The current 3d-model has 1.1161 x larger length than it should have
4.) The current 3d-model has 1.0989 x high

[2015-12-29 22:29] gilbertohasnofb opened #24 "better UV-map of liveries on nose and tail"
Better UV-map of liveries on nose and tail, see how they do not match perfectly:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/12043278/dfff214a-ae83-11e5-85e1-fb4663f75082.png)

![fgfs-screen-002](https://cloud.githubusercontent.com/assets/5700795/12043277/dffea3aa-ae83-11e5-86ab-426b304e8536.png)

There might be an issue as well in the tail part of the fuselage (where th

[2015-12-29 22:29] gilbertohasnofb commented on #23
Nice one spotting this!

Okay, I didn't even start working on any liveries yet and probably I won't be able to do so in the next days anyway, so take your time with this one. Also, while you are taking a look on the external model, maybe you want to check this issue out as well: https://github.com/HHS81/c182/issues/24

[2015-12-29 22:37] HHS81 commented on #24
No, UVMap is correct - you can check this by using "Default.png" as livery. It is just my bad painting expertise.....
![Uploading UVMapExteriorIsCorrect.jpg…]()

[2015-12-29 22:38] HHS81 commented on #24
![uvmapexterioriscorrect](https://cloud.githubusercontent.com/assets/12649375/12043410/356beeb4-ae85-11e5-90dd-f8dad11f33c9.jpg)

[2015-12-29 22:39] gilbertohasnofb commented on #24
Okay then, Heiko!

[2015-12-29 22:42] HHS81 commented on #23
Oh and the span of the main gear is at least correct as well....

[2015-12-29 22:43] gilbertohasnofb commented on #24
@HHS81 You closed and reopened this issue twice, did you mean the leave it open? I think after what you explained above it should be closed, right?

[2015-12-29 22:45] HHS81 commented on #23
Procedere:
4.) adapt animation of exterior surfaces....(doors, flaps, ailerons.....)

[2015-12-29 22:46] HHS81 commented on #24
Yep, wanted to close it, but was faster than the upload of the image. So I reopened it....

[2015-12-29 22:46] #24 closed

[2015-12-29 22:47] gilbertohasnofb commented on #24
If you reopened it just to upload the image, then you could have just posted the image in the closed issue since a closed issue is still able to receive comments. But no worries :smile:

[2015-12-29 22:52] HHS81 commented on #23
Hi,

Yep, took accidently a detailed blueprint of the older C182. I noticed
tody that the older C182 looks different than newer one and checked the
dimensions given in the POH.

New uvmapping and especially creating the paintkit will need a while. Most
of the corrections of the scale are mostly done, need to reduce wing span
and correct engine nose.

Damn, I hoped I was done with exterior stuff...

[2015-12-29 22:54] HHS81 opened #25 "Missing engine facade"
Through the airintake there is no engine visible. Model a one-sided engine facade

[2015-12-29 22:57] HHS81 commented on #23
Procedere:
5.) correct main gear size

[2015-12-29 23:01] gilbertohasnofb commented on #23
Heiko, there is no rush, really, take your time with it. I will be travelling a lot in the next days so I probably won't be able to work much.

But if I may make a personal request, the only issue that is really holding me from pushing all the textures is #15, which should be quite simple to solve. Do you think you could take a look at it when you have time? Then I can push all the interior textur

[2015-12-30 21:32] gilbertohasnofb opened #26 "Apply new texture to flap lever"
I created a new texture for the flap lever:

![flaps](https://cloud.githubusercontent.com/assets/5700795/12060080/190bfb40-af68-11e5-99de-690c4ee1a863.png)

This has already been pushed to a branch named `improved-instruments`, together with a better AI. Could you please apply the texture to the lever using that branch? Then we can merge it to the master.

[2015-12-31 18:21] wlbragg commented on #3
What aircraft is this?
https://camo.githubusercontent.com/f3a943bc62726b357aca1eda9d60c67e60587f72/687474703a2f2f61626c6f61642e64652f696d672f666766732d73637265656e2d30313435797568672e6a7067
Did you use it's propeller cod and model for the one that isn't working right?

[2015-12-31 19:52] HHS81 commented on #3
@wlbragg: its the same aircraft we just talk about - Cessna 182S.
Animation code is the same, I just changed the blurredprop model and the texture. I know that the problem was the same with this. I guess the alpha-blend animation is not compatible with the shaders. I have the same problem on the EC 135 P2.

[2016-01-04 22:53] HHS81 commented on #23
Exterior model is ready and even refined compared with before, animated (flight control surfaces, Cowl Flaps, doors, windows ...), fixed the tranparency issue of the prop, fixed the navlight issue. I have started with a blank livery and a normalmap- will need some time though.
![fgfs-screen-001](https://cloud.githubusercontent.com/assets/12649375/12102868/3880ee52-b33e-11e5-93e9-c5c6106ab301.jpg)

[2016-01-05 08:39] gilbertohasnofb commented on #23
Looks great!

I dont understand, you mean the new model looks like a variant rather than the real thing? In which sense, what are the differences?

[2016-01-05 08:42] gilbertohasnofb commented on #3
@wlbragg it seems @HHS81 has fixed this according to https://github.com/HHS81/c182/issues/23#issuecomment-168837220. Thanks for having a look at it though!

[2016-01-05 10:06] HHS81 commented on #3
The issue had a simple reason: mismtached object name, so transparent.eff coulden't apply. This issue will be closed when the master branch has been updated.
And from me as well: @wlbragg: Thanks for looking at!

[2016-01-05 10:20] HHS81 commented on #23
Well, it looks different to the older C182 Variants, i accidently modelled. I was rather used already to its look, so yesterday I was uncertain. But comparing again I think I have done everything right. I hope tu upload it this week.

[2016-01-05 22:17] gilbertohasnofb commented on #23
I understand now. Well, the new model looks great, cant wait to try it out :smiley:

[2016-01-07 02:12] HHS81 opened #27 "FDM uses wrong type of fuel --> wrong weight of fuel"
According http://wiki.flightgear.org/JSBSim_Fuel_System JSBSim calculates 6.6 lbs/ gal fuel weight as standard. This is the density of Jet Fuel.
But the C182S uses AvGas. So it should be 6.02lbs/ gal. So fuel weight is not correct!

Fix is under way
as the fdm has been already updated on my system to match the new exterior model
(also this fdm  already enhanced by using real stability derviates va

[2016-01-07 02:12] gilbertohasnofb commented on #27
:+1: Nicely spot!

[2016-01-07 02:25] HHS81 commented on #27
Thanks: was playing with a Weight and Balance calculator, when I noticed that the weights are not matching. I guess some other JSBSim aircraft has this bug as well....

[2016-01-07 02:30] gilbertohasnofb commented on #27
Maybe it would be nice to write to the mailing list about it so other aircraft maintainers can know about this bug.

[2016-01-07 22:12] HHS81 commented on #27
I'm not sure if the mailing-list is the right place. There are not many airctaft-developers. Most of them are in the forum, or anywhere else....

[2016-01-09 03:47] HHS81 commented on #23
Progress:
![fgfs-screen-013](https://cloud.githubusercontent.com/assets/12649375/12214235/f82d9cd2-b68b-11e5-9629-6b17d3c608d7.jpg)
![fgfs-screen-012](https://cloud.githubusercontent.com/assets/12649375/12214233/f82ced6e-b68b-11e5-8667-69edcc6fe377.jpg)
![fgfs-screen-016](https://cloud.githubusercontent.com/assets/12649375/12214234/f82d9944-b68b-11e5-9600-16c257a5710c.jpg)

[2016-01-09 12:01] gilbertohasnofb commented on #23
Looks amazing!!

[2016-01-10 19:37] gilbertohasnofb opened #28 "Make the normalmap more subtle"
What about making the normalmap a bit more subtle? These images ![here](https://github.com/HHS81/c182/issues/23#issuecomment-170189033) look stunning, but I feel that in RL the 182 is not that reflective and you can't see the rivets so easily. What do you say if we tune this effect a little bit down, @HHS81?

[2016-01-10 20:36] HHS81 commented on #28
I know that the effect is exaggerated, this is currently needed to check if all rivets  and lines sits at the right point - and of course to show that I have worked on the model ;-). ( There are still some lines and rivets missing, and a specularity map is also missing yet).

The Paintkit I have in work already allows to control the opacity of each layer containing rivets and lines, so the appeare

[2016-01-10 20:41] HHS81 commented on #28
Btw.(@Johan G.) the C182 doesn't have flushed rivets: http://www.flyperformance.com/wp-content/uploads/2015/05/N182FN-12.jpg
http://www.flyperformance.com/wp-content/uploads/2015/05/N182FN-28.jpg

And yes, a fresh cleaned aircraft is quite reflective: http://www.flyperformance.com/wp-content/uploads/2015/05/N182FN-20.jpg

[2016-01-10 20:42] gilbertohasnofb commented on #28
Good to know!

That's very handy.

Yes, looking at his pictures the effect is quite diluted IMO as well. As for that Carenado image from avsim, I can't access Avsim for some reason, I will try later...

Sounds like fun (and like a ton of work!) :smile:

I will forward it to the forum as he won't receive notifications of your reply here.

[2016-01-10 20:55] HHS81 opened #29 "Question: how are the knobs for cockpit lighting working?"
Actually the knobs for the cockpit lighting seems each to dim two lights.
Looking at a real panel
![image](https://cloud.githubusercontent.com/assets/12649375/12223908/33f9e924-b7e4-11e5-83e5-8192eca78a7e.png)
: (from: http://www.flyperformance.com/wp-content/uploads/2015/12/N182EE51.jpg)
the upper lighting knob can dim radio lighting, and panel lighting (= instruments lighting according POH).
But

[2016-01-10 20:59] gilbertohasnofb commented on #29
I think it doesn't do both at the same time, I think the knob can be turned but also the grey top can be turned, hence the white full circle before PANEL LT and the white empty circle before RADIO LT.

[2016-01-10 21:03] HHS81 commented on #28
And just for clarification: "The way to do that is that, we create an extremely high polygon 3D model with all the details, including but not limit to imperfect surfaces, rivets, and everything... Then, we bake a normal map, and then, we apply it to the low polygons 3D model. I can do that if we start to make a more detailed 3D model." (http://forum.flightgear.org/viewtopic.php?f=4&t=21965&start=6

[2016-01-10 21:05] gilbertohasnofb commented on #28
You are spot on.

[2016-01-10 21:24] HHS81 commented on #29
o.k., so I guess the grey top dims radio light and the black knob dims panel = instrument light?

[2016-01-10 21:25] gilbertohasnofb commented on #29
That's my guess. And actually, I think that probably you press the grey top and then turn the knob for the radio, and just turning the knob dims the instrument light. But we should ask some pilot to confirm.

[2016-01-14 03:20] HHS81 commented on #22
The uvmap is o.k., I just not modeled the bag yet....

[2016-01-14 03:27] HHS81 opened #30 "Animation: nose gear scissor animation"
when I found out how the tracking animation is working.....

[2016-01-14 09:24] gilbertohasnofb commented on #22
Let's leave this opened then and once you add the bag we see how it looks and then maybe close this, okay? I just want to make sure that I don't forget to double check this in the near future.

[2016-01-18 19:56] HHS81 commented on #22
I need the textures so I can aligne the models of the bags more easily, so I will add the bags when the textures has been pushed.

[2016-01-19 01:31] gilbertohasnofb opened #31 "Holes in the doors"
There are holes in both doors, see:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/12407131/8d130d4e-be54-11e5-8fb7-dce657b1c45f.png)

![fgfs-screen-003](https://cloud.githubusercontent.com/assets/5700795/12407143/b018e2d2-be54-11e5-9df1-3788653a64ea.png)

On the bright side, there will be extra ventilation in the cabin :smile:

[2016-01-19 01:32] gilbertohasnofb commented on #22
Pushed. Also check this new issue: https://github.com/HHS81/c182/issues/31

[2016-01-19 01:33] gilbertohasnofb commented on #16
Seems like this bug has been re-introduced:

![fgfs-screen-002](https://cloud.githubusercontent.com/assets/5700795/12407159/cd952794-be54-11e5-9874-45e187102134.png)

[2016-01-19 08:30] HHS81 commented on #16
Ah, yes, I see.

[2016-01-19 08:34] HHS81 commented on #31
Take a look what happened.

[2016-01-19 08:41] HHS81 commented on #28
Quote by wkitty from forum: "no response for my post about not wanting rivets or even shiny chrome engine rings?? is there no other way than to completely redo the blend/ac file(s) to remove those undesirable artifacts???"

What is he talking about? There are no shiny crome engine rings, and if he don't want rivets he must simply disable the norma/ bumplmap effect via the rendering settings.

[2016-01-19 08:43] HHS81 opened #32 "Remove alpha channel on textures"
When all open issues regarding uvmapping and texturing are closed, remove alpha channel in texture files, so perfomance on older computers will increase and non unwanted rendering effects will occur.

[2016-01-19 13:05] gilbertohasnofb commented on #28
You tell me. I answered him though, together with your answer above.

[2016-01-19 13:06] gilbertohasnofb commented on #32
Did I forget to remove the alpha channel myself on the 4 new textures? If so, I am so sorry! Would you prefer that I fix that myself or is it easy for you to fix it?

[2016-01-19 20:18] HHS81 commented on #32
I introduced them by myself, when creating the uvmaps. No problem at, I think the alpha layer helps in Gimp.
I just wanted to make sure that that we won't forget that.

[2016-01-19 20:22] HHS81 commented on #29
That's how it obviously works: http://www.x-planepilots.org/forums/topic/cockpit-lighting-cessna-172/
Last posting.
So indeed the black knob and the grey top can be turned.

[2016-01-19 20:29] gilbertohasnofb commented on #32
:+1:

[2016-01-19 20:57] HHS81 commented on #28
Normalmap effect more subtle, shininess of the aicraft can be defined in each livery file, reflection strength as well, and the upcoming paintkit will allow to set the strength of each layer. Issue closed

[2016-01-19 20:57] HHS81 commented on #27
Fixed, and made use of the JSBSim fuel tank features.....

[2016-01-19 20:57] #27 closed

[2016-01-19 20:58] HHS81 commented on #26
Done

[2016-01-19 20:58] #26 closed

[2016-01-19 20:58] HHS81 commented on #25
Done

[2016-01-19 20:58] #25 closed

[2016-01-19 20:59] HHS81 commented on #23
Fixed, and keeping the old model in the "Classic"- Branch, so one time the old variants can be made of it.

[2016-01-19 20:59] #23 closed

[2016-01-19 21:00] HHS81 commented on #20
improved seat frame, though the model from the c172 had been heavily adapted due to a different, more modern seat used in the c182

[2016-01-19 21:00] #20 closed

[2016-01-19 21:00] HHS81 commented on #19
Fixed.

[2016-01-19 21:00] #19 closed

[2016-01-19 21:01] HHS81 commented on #17
Fixed

[2016-01-19 21:01] #17 closed

[2016-01-19 21:01] HHS81 commented on #15
Done

[2016-01-19 21:01] #15 closed

[2016-01-19 21:02] HHS81 commented on #12
Oops, I accidently placed it again at the wrong spot.... keep it open until fixed.

[2016-01-19 21:04] HHS81 commented on #11
I accidently placed the Hobbs-meter at the wrong spot. There are some C182 S-Variants with the eLT used here, and the Hobbs-meter is just below. Will fix this soon!

[2016-01-19 21:04] HHS81 commented on #9
Fixed

[2016-01-19 21:04] #9 closed

[2016-01-19 21:05] HHS81 commented on #4
Fixed

[2016-01-19 21:05] #4 closed

[2016-01-19 21:06] HHS81 commented on #3
Fixed

[2016-01-19 21:06] #3 closed

[2016-01-19 21:07] HHS81 commented on #12
will be closed when Hobbs-meter is at the right spot

[2016-01-19 21:08] HHS81 commented on #21
at least it needs the key and the animation. I'll take a look in how I can implement this

[2016-01-19 21:21] gilbertohasnofb opened #33 "Fix flap lever animation"
After https://github.com/HHS81/c182/issues/26#event-519605842 has been implemented, the lever must be repositioned and its animation must be redone (it should move a little bit sideways after each notch).

[2016-01-19 21:21] gilbertohasnofb commented on #21
Ok!

[2016-01-19 21:30] HHS81 commented on #33
ah, I didn't know,

[2016-01-20 00:50] gilbertohasnofb commented on #20
I think our seat mounts are upside down, actually! See: https://github.com/Juanvvc/c172p-detailed/issues/633#issuecomment-173036122

[2016-01-20 00:52] gilbertohasnofb opened #34 "dome lights texture are too large"
dome lights texture are too large

[2016-01-20 00:52] gilbertohasnofb commented on #34
Just so I don't forget about this in the future.

[2016-01-20 10:24] HHS81 commented on #20
Indeed, ouch!  Now I understand why I had to heavily adapt it.....Well, easy to fix, I don't think there is a change on the UVMap needed.

[2016-01-20 12:54] gilbertohasnofb commented on #33
Maybe take a look on what onox did on the c172p: https://github.com/Juanvvc/c172p-detailed/commit/fb9a37c3187a1472c871ce9ff61ee043cfc12ef1

[2016-01-20 18:03] HHS81 commented on #31
should be fixed

[2016-01-20 18:04] HHS81 commented on #33
should be fixed

[2016-01-20 18:05] HHS81 commented on #29
changed the knob to reflect the behavior - we'll see if this is right

[2016-01-20 18:06] HHS81 commented on #16
should be fixed now

[2016-01-20 18:07] gilbertohasnofb commented on #31
Yep, it's fixed now, thanks a lot!

[2016-01-20 18:07] #31 closed

[2016-01-20 18:09] gilbertohasnofb commented on #33
Heiko, I just checked it and there are some problems still:

- I think the positions of the main lever for each notch can be slightly better placed (e.g. the 10 degrees is a bit too down I think)
- the lever is instantaneously moving from notch to notch, while in the c172p it smoothly moves. Look also how in the c172p it moves sideways before moving down/up.

[2016-01-20 18:10] gilbertohasnofb commented on #29
Those knobs are not clickable for me, what do you mean by changing their behaviour? I thought they are completely non-functional as of now.

[2016-01-20 18:11] HHS81 commented on #11
Should be fixed now

[2016-01-20 18:11] HHS81 commented on #12
should be fixed now

[2016-01-20 18:11] gilbertohasnofb commented on #16
Confirmed, thanks! :+1:

[2016-01-20 18:11] #16 closed

[2016-01-20 18:12] HHS81 commented on #29
Oh, sorry. I meant that I seperated the knobs in Blender, but they are not yet functional. I'm not yet 100% sure if it really works like described in the source above.

[2016-01-20 18:15] gilbertohasnofb commented on #12
![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/12458401/09c87d14-bfaa-11e5-89fb-ad820b74610a.png)

I think the position of the ELT and Hobbs needs to be rethought a little bit, they colliding with each other and the ELT is colliding with the top of the panel.

[2016-01-20 18:15] gilbertohasnofb commented on #11
See: https://github.com/HHS81/c182/issues/12#issuecomment-173312375

[2016-01-20 18:16] gilbertohasnofb opened #35 "Hide yokes when clicking on the yoke mount"
Hide yokes when clicking on the yoke mount

[2016-01-20 18:16] gilbertohasnofb opened #36 "Tachometer should be smaller"
Tachometer should be smaller, see how the gauge ticks are almost not visible:

![fgfs-screen-002](https://cloud.githubusercontent.com/assets/5700795/12458461/50b843d0-bfaa-11e5-98a8-1e704993128d.png)

[2016-01-20 18:19] gilbertohasnofb opened #37 "Some parts of the pedals are coloured in funny colours"
Some parts of the pedals are coloured in funny colours, see:

![fgfs-screen-004](https://cloud.githubusercontent.com/assets/5700795/12458536/956a81b4-bfaa-11e5-8b82-d52a0913b9f2.png)

(the circles are in the colours which are visible in the cockpit)

All these little parts can be simply assigned as pure black in Blender so we don't have to fuss with textures and UV mapping.

[2016-01-20 18:51] HHS81 commented on #37
-keep the number of materials used as low as possible for better computer perfomance
-I will look at uvmapping, which is actually the reason behind

[2016-01-20 18:51] HHS81 commented on #36
Is on my To-Do-List together with other instrument textures already....

[2016-01-20 18:52] HHS81 commented on #35
Allready on my To-Do-List....

[2016-01-20 19:02] gilbertohasnofb commented on #37
Okay :+1: . Probably the side of the pedals can be mapped using the same texture as the pedal levers (the cylinders that connect it to the floor), and it seems that only the left cylinders have the back untexturized. As for the blue line close to the fuel selector, probably the UV map isn't taking the whole object.

[2016-01-20 19:03] gilbertohasnofb commented on #35
Okay Heiko! :smile:

[2016-01-20 20:43] HHS81 commented on #33
-the "smooth" move is somewhere burried in the c172p-files, where I can't find it. Anyway, how smooth or instantaneously the flaps lever is moving depends on your hand and force you use in RL. Really something minor for me right now....That can come later.
-they used the translate animation for up and down, but it seems the animation should be a rotate animation for lever and indicator according s

[2016-01-20 20:53] HHS81 commented on #37
should be fixed - suffered from the translation in the UVmap

[2016-01-20 20:55] HHS81 commented on #36
Fixed

[2016-01-20 20:55] HHS81 commented on #35
Done

[2016-01-20 20:57] gilbertohasnofb commented on #35
:+1:

[2016-01-20 20:57] #35 closed

[2016-01-20 20:58] gilbertohasnofb commented on #36
Perfect. But I just noted that the altimeter also needs some scaling, should I open a new issue for it?

[2016-01-20 20:58] #36 closed

[2016-01-20 20:59] gilbertohasnofb commented on #37
The pedals look perfect, but the blue line on the side of the fuel selector is still there:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/12462920/21edbd2a-bfc1-11e5-987b-d35fc0c9ca80.png)

[2016-01-20 21:05] gilbertohasnofb commented on #33
- I don't think the smooth movement is buried in the c172p files, I think it's done only in in that xml file. I can ask onox how he did it if you want. Personally I think it looks much better than the teleporting, but it's a small thing of course. I can try having a look on it later on
- yes, the flap lever does rotate but I think the radius of the rotation is comparative large, so probably a tran

[2016-01-20 21:10] HHS81 commented on #33
- it's not, I copied the whole file, and so much as I can read it is not done there.
- I combined a translation with rotate animation. I used videos (c182) from youtube as reference.
- according to the videos it is twisted, even Carenado and A2A shows this twist

[2016-01-20 21:11] gilbertohasnofb commented on #33
:+1: I will ask onox about the smooth movement then!

[2016-01-20 23:18] HHS81 commented on #37
fixed

[2016-01-21 07:03] gilbertohasnofb commented on #37
confirmed :+1:

[2016-01-21 07:03] #37 closed

[2016-01-21 07:04] gilbertohasnofb commented on #12
@HHS81 The position is much better in your last commit, but I still feel that the ELT is too close to the top panel, and also the Hobbs is basically touching the ELT so I think it should be moved slightly downwards.

[2016-01-21 08:34] onox commented on #33
I simply used a `<kinematic>` in `c172p.xml`. See https://github.com/Juanvvc/c172p-detailed/pull/653/files#diff-9eb2c7f8235986e706c0aee4fb47fad6 at the bottom of the page.

[2016-01-21 10:38] gilbertohasnofb commented on #33
Thanks, @onox !

[2016-01-21 15:17] gilbertohasnofb commented on #34
Done.

[2016-01-21 15:17] gilbertohasnofb opened #38 "Create speaker on the ceiling"
Create speaker on the ceiling, see:

![dscn1882_sp](https://cloud.githubusercontent.com/assets/5700795/12484409/7ec0ca08-c05a-11e5-8cbd-71d6cc2b6645.JPG)

[2016-01-21 15:19] gilbertohasnofb commented on #38
I had previously done it via textures alone, but it doesn't look that good like that. Would it be possible to do it by adapting the 3D model and then applying the texture? I think we still have space on `PanelTexturing-Interior.png` to add a small circle (for instance, above the seat belts in the middle of the texture). Let me know what you think.

[2016-01-22 21:08] HHS81 commented on #34
Sorry, not really improvment. I know the uvmapping can a bit confusing. I took a look into the Gimp file and I'm sure I can fix this.

[2016-01-22 21:09] HHS81 commented on #33
@onox Many Thanks! Didn't thought about this, it's a easy one, I will use this soon as I can.

[2016-01-22 21:10] gilbertohasnofb commented on #34
Maybe I am misunderstanding how those dome lights are supposed to look, so feel free to fix them :smile:

[2016-01-22 21:11] gilbertohasnofb commented on #33
We can later apply this to the parking brakes lever as well ( @onox I think the c172p also needs this to be applied for the parking brakes, right?)

[2016-01-22 21:12] HHS81 commented on #12
I can't much mnove it, as the text underneath will appear then.
Anyway, I wouldn't care all too much. I found the page in the POH where the ELT-model is described, and soon as I can I will create the correct model.
 I close this and create a new Issue.

[2016-01-22 21:12] #12 closed

[2016-01-22 21:13] HHS81 commented on #11
It seems that the Hobbs-meter we use is a bit too large. I will scale this.
So I close this issue and create a new one.

[2016-01-22 21:13] #11 closed

[2016-01-22 21:16] gilbertohasnofb commented on #12
Okay, in that case we just leave as it is, no problems :smiley:

[2016-01-22 21:16] gilbertohasnofb commented on #11
:+1:

[2016-01-22 21:20] HHS81 commented on #38
It seems to me the speaker is a bit recessed. I have to look if I can do this without all too much effort, and see where I put the speaker on the UVmap.
Unfortunately my laptop needs a 5hr maintenance of the harddrive, and I still have a last term-paper/ essay open with a very near deadline before finally having sucessfully passed all my exams. (I got my  resultat of bachelor thesis yesterday :-))

[2016-01-22 21:22] HHS81 opened #39 "Model the correct ELT-model"
Model the correct ELT-model used by Cessna in their 182 S Skylane according to POH.

[2016-01-22 21:23] HHS81 opened #40 "Scale the Hobbs-Meter"
The Hobbs-meter currently used seems a bit too large. Scale them to the right size.

[2016-01-22 21:24] HHS81 commented on #33
Yep, I even think they already did apply this....

[2016-01-22 21:24] gilbertohasnofb commented on #38
Congratulations, Heiko! :tada: :smile: :+1: Very happy for you.

No rush at all, I am also quite busy with my thesis myself

Indeed the speak is a bit recessed, so it would change the mesh on that place a bit. Anyway, have a look at it when you have time and make a decision about it, okay?

[2016-01-22 21:24] HHS81 opened #41 "enhance parking brake laver"
add those fancy knematics animation by jsbsim the parking brake lever

[2016-01-22 21:28] HHS81 commented on #38
Not yet passed!
But soon when I have finished my last exam in form of term-paper/ essay...
But thanks anyway! :smiley:

[2016-01-22 21:29] gilbertohasnofb commented on #38
Oh, I totally misunderstood you :blush: So save the champagne and good luck with the paper!

[2016-01-29 20:36] HHS81 commented on #41
Should have been fixed now

[2016-01-29 20:38] HHS81 commented on #38
I hope it looks nice now:
![fgfs-screen-003](https://cloud.githubusercontent.com/assets/12649375/12687516/ac70830e-c6d0-11e5-9b32-bb0e0669de8f.jpg)

[2016-01-29 20:39] HHS81 commented on #34
Fixed:
![fgfs-screen-003](https://cloud.githubusercontent.com/assets/12649375/12687524/bc141186-c6d0-11e5-975c-e342a3614f6c.jpg)

[2016-01-29 20:39] HHS81 commented on #33
Should have been fixed now

[2016-01-29 20:49] gilbertohasnofb commented on #34
Perfect! :+1: I will work on a texture for it soon

[2016-01-29 20:50] #34 closed

[2016-01-29 20:51] gilbertohasnofb commented on #33
Really cool animation, Heiko! But if I may be picky, I think the flap isn't really resting in the lowest point of each notch. Try to observe this this: at 10 or 20 degrees, when you lower the flaps you will notice that it first goes a tiny bit down, then right, then down. I think the flap should be resting in the lowest position possible for that notch, so that the movement of lowering the flaps w

[2016-01-29 20:52] gilbertohasnofb commented on #41
:+1:

[2016-01-29 20:52] #41 closed

[2016-01-29 20:52] gilbertohasnofb commented on #38
Perfect! :+1: I will work on a texture for it soon

[2016-01-29 20:58] gilbertohasnofb opened #42 "3D bug in the top left corner of the cockpit"
3D bug in the top left corner of the cockpit:

![fg-0](https://cloud.githubusercontent.com/assets/5700795/12687962/6381ce7a-c6d3-11e5-83f5-3051dcc31fa6.jpg)

![fg-1](https://cloud.githubusercontent.com/assets/5700795/12687966/685dd61e-c6d3-11e5-97f9-b4db4fe5025e.jpg)

[2016-01-29 20:59] HHS81 commented on #42
yep, noticed already, no idea yet whats wrong

[2016-01-29 20:59] gilbertohasnofb commented on #42
ok

[2016-01-29 21:12] HHS81 commented on #33
Now it should be fixed

[2016-01-29 21:18] gilbertohasnofb commented on #33
Strange, retracting the flaps is perfect now, but extending is still a bit strange, there is just a tiny bit of downwards movement before the lateral movement.

[2016-01-29 21:27] HHS81 commented on #33
and now?

[2016-01-29 21:28] HHS81 commented on #42
fixed

[2016-01-29 21:32] HHS81 opened #43 "Electrical and lighting system"
**Update 08/19/2016:**
Enable the domelights (high priority)

Use the electrical system from the SenecaII and adapt it according POH, add battery behavior at cold temperatures. Advantage: realistic battery behavior, lights dims when Starter is is used, and other realistic things when battery state is low (middle priority)

**Idea: 01/29/2016**
-updating the elctrical system according POH
-updating

[2016-01-29 21:35] gilbertohasnofb commented on #42
:+1:

[2016-01-29 21:35] #42 closed

[2016-01-29 21:36] gilbertohasnofb commented on #33
Still not. Try this: press Shift+A so that the time compression is exactly at 1/8x (lower values make the flap movement go crazy, but this is enough): now try lowering the flaps from 10 to 20 then raising back. See how the movement when lowering is strange (some unwanted movement) while raising is fine? Same for 20 to 30.

[2016-01-29 21:59] HHS81 commented on #33
I see what you mean, but lower slow motion values (1/16, 1/32, ...) breaks the whole animation. The slower, the more it seems. Andf I guess that's the reason for your strange observation. Bug in FGFS itself, I would say.

[2016-01-29 22:00] gilbertohasnofb commented on #33
No Heiko, I can observe that without any slow motion, but the point is that at 1/8 you can observe better. But at 1x this issue is there!

[2016-01-29 22:00] gilbertohasnofb commented on #33
The slow motion tip was just to make sure we are understanding each other on what I meant :wink:

[2016-01-29 22:08] HHS81 commented on #33
according the table, it should not be the case.
You should observe the same issue on the c172p, since I used the same principle

[2016-01-29 22:25] gilbertohasnofb commented on #33
I will test it on the c172p after, but I don't remember seeing any such thing with its flap. But anyway, it's such a minor thing that I'd say we can just leave it as it is.

[2016-01-29 23:37] #38 closed

[2016-01-29 23:38] gilbertohasnofb commented on #32
Can we close this issue? I think this has been done already, right?

[2016-01-29 23:51] HHS81 commented on #32
I think not, I only changed the interior-textures for debugging reason

[2016-01-30 10:32] gilbertohasnofb commented on #33
Heiko, the c172p flap lever movement is much smoother and clearer than ours here, but the difference is just so small that maybe we can just leave it as it is. I leave this up to you, so feel free to close this issue if you want to.

[2016-01-30 10:33] gilbertohasnofb opened #45 "Fix Avionics Master tooltip"
Fix Avionics Master tooltip. Currently it says "MasterAvionik" but it should be "Avionics Master" in English

[2016-01-30 10:33] gilbertohasnofb commented on #45
Done.

[2016-01-30 10:33] #45 closed

[2016-01-30 13:20] HHS81 commented on #45
Oh, right, Thanks

[2016-01-31 00:35] HHS81 opened #46 "Adding AOMaps on interior textures?"
Should we add AOMaps on the interior-textures?
The mainpanel as an example get then some some touch like Carenado Aircraft:
![image](https://cloud.githubusercontent.com/assets/12649375/12699346/451d42ee-c7b8-11e5-95c8-fb9e141ae479.png)

Ours with 80% Opacity of AOMap (can be increased, and the whole AOMap improved by changing settings wihile generating the AOMap in Blender)
![fgfs-screen-005](http

[2016-01-31 00:44] HHS81 opened #47 "create missing engine instruments"
create the missing engine instruments, so whole bird can pushed to FGAddon.
I think setting the missing instruments as milestone for FGAddon should be o.k.?

[2016-01-31 00:51] HHS81 opened #48 "missing annunciator panel"
missing annunciator panel

[2016-01-31 10:18] gilbertohasnofb commented on #47
I think if the cockpit has all instruments and the main knobs and switches are clickable, then I also think it would be time for a first merge to FGAddon. Also, when that happens, I will announce the plane in the wiki newsletter.

[2016-01-31 10:19] gilbertohasnofb commented on #46
Sorry Heiko but what is an AOMap and what does it do? Nevertheless, that shot of yours look stunning!

[2016-01-31 10:36] gilbertohasnofb opened #49 "replace thumbnail and create splash screen(s)"
I think we must replace thumbnail and create new splash screen(s)

[2016-01-31 10:38] gilbertohasnofb commented on #49
@HHS81 would you like to use the same style of splash screen as the c172p? If so, I can copy the template to https://github.com/HHS81/c182-Textures/ so we can work on some splash screens

[2016-01-31 10:39] gilbertohasnofb opened #50 "Update readme file"
Update readme file:

- add our names and what we are doing
- add an image of the plane (so it shows up when loading the repository)
- add links to the forum and to the texture repository

[2016-01-31 10:41] gilbertohasnofb commented on #50
Done

[2016-01-31 10:41] #50 closed

[2016-01-31 10:41] gilbertohasnofb commented on #28
Heiko, I have to say that the aircraft look now completely non-shinny to me, is that intentional for the three liveries you created? I personally feel that the plane looked much better before.

[2016-01-31 11:43] gilbertohasnofb opened #51 "create new liveries"
Create some new new liveries for the plane

[2016-01-31 11:43] gilbertohasnofb commented on #51
@HHS81 do you still plan to do some "big" work on the exterior model or on the paintkit, or can I start having fun with the exterior model? :smile:

[2016-01-31 13:08] HHS81 commented on #51
Thanks for the reminder!

Some lines are still missing, and some rivets.
And a small enhancement to the doors.

Hope today I have it ready

[2016-01-31 13:09] HHS81 commented on #49
Yep, I like your splash screens a lot! If you want to make some, I would be very delighted!

[2016-01-31 13:09] gilbertohasnofb commented on #51
Okay, so once this is done I will create some liveries for us :+1:

[2016-01-31 13:10] gilbertohasnofb commented on #49
Thanks, I am happy you like those! So as soon as we have the engine instruments in the cockpit as well as some new liveries I will create a bunch of splash screens

[2016-01-31 13:14] HHS81 commented on #46
AO stands for Ambient occlusion: https://en.wikipedia.org/wiki/Ambient_occlusion

Though this is not quite right, then what I did and plan is more or less ambient shadows generated by Global Illumination (which actually will not conflict with Rembrandt shadows or the ALS shadows).

I will see if I can enhance this more, so we can close to those commercial products (As much as I know some Carenado-

[2016-01-31 13:17] gilbertohasnofb commented on #46
I see, that looks really interesting!

[2016-01-31 13:18] HHS81 commented on #28
Can you tell me, when it looked better?

You can controll the shininess now dynamically  (with property browser even in runtime) per each livery in the livery-file.xml:

` <specular>
		<red>0.75</red>
		<green>0.75</green>
		<blue>0.75</blue>
</specular>`

and the reflection strength by

`<refl_correction type="string">-0.3</refl_correction>`

[2016-01-31 13:22] gilbertohasnofb commented on #28
I think that in this image the normal map is a tiny bit too shiny, but it was better than what we have now IMO:

![](https://cloud.githubusercontent.com/assets/12649375/12214233/f82ced6e-b68b-11e5-8667-69edcc6fe377.jpg)

I have the impression that when we made it more subtle, it actually become too subtle if you know what I mean. I can try to play around with those values if you want, but given th

[2016-01-31 13:22] gilbertohasnofb commented on #28
It's just that now all three liveries look completely "washed out", almost only white on white regardless of shadows and illumination.

[2016-01-31 13:24] HHS81 commented on #43
Update:
create one lightmap affecting panel and pedestal:
- glareshieldlight
- pedestallight
- maybe the two domelights

create lightmap for forward cabin section:
-domelight left
-domelight right
-maybe the glareshield light (if it affects the the forward cabin)

create lightmap for the rear cabin
-domelight rear

fall back with the old fashioned material animation for non-shader users.

[2016-01-31 13:27] gilbertohasnofb commented on #46
It seems that the files `dev/AOPanel.png` and `dev/AOMap.png` have wrong proportions (both are 2048x2048 while the panel and livery files aren't). I guess this won't affect anything, but for instance the AOPanel is twice the size it should be.

[2016-01-31 13:28] HHS81 opened #52 "Fuel system"
Create the fuel system for the C182S according POH as it works completly different to older Cessna single props.
1.)
It should create affect fuel consumption when engaged, depending by mixture and also able to flood the engine.

2.)it should also be affectd by the engine and outside temperature.

[2016-01-31 13:29] HHS81 commented on #46
I know, it happens when I create them in Blender. Those files went accidently in the wrong branch and aren't to be considered ready to use.

[2016-01-31 13:33] HHS81 commented on #28
Wait until I have the paintkit ready.

There are four things which influence the appearence of the rivets, and three of them can changed by the user each per livery:

- the strength of the rivets itself by the paintkit
- the strength of the reflection
- the strength of the shininess (specular effect)

-the strength of the normalmap  unfortunately can't be changed by the user

[2016-01-31 13:35] gilbertohasnofb commented on #28
Okay, so I suggest we leave this issue opened but tackle it later once the paintkit is done. What do you say?

[2016-01-31 22:57] HHS81 commented on #47
Done

[2016-01-31 22:58] HHS81 opened #53 "Make Davtron 803 working"
- [x] make Davtron 803 working
- [x] add texture for horizontal lcd line and display selected mode

[2016-01-31 23:01] HHS81 opened #54 "Missing paintkit"
Paintkit still missing - should be done asap

[2016-01-31 23:02] HHS81 commented on #51
didn't made it today, engine instrumemtes needed too much time

[2016-01-31 23:11] HHS81 opened #55 "Idea/ Concept: place chocks/ safetycones/ fuel-trucks etc. via model-manager"
Place the chocks/ safetycones via model-manager like the walker

Advantage:
- the model acts like a scenery model, will be recocgnized as collision object - no need for a workaround with the parking brake

- safety cones and other objetcs stays where they are placed (no flying trucks....)

Challenge: nasal script and making the objects remove from scenery  when not needed

Basic Idea: Walker

[2016-01-31 23:13] HHS81 opened #56 "switches are not animated"
The switches on the panel are not animated and textured.

[2016-01-31 23:17] gilbertohasnofb commented on #51
No problems at all, there is no rush.

[2016-01-31 23:17] gilbertohasnofb commented on #56
Let me know if you need textures for them.

[2016-01-31 23:17] gilbertohasnofb commented on #47
Looks really good, Heiko! :+1: But for some reason the vertical speed indicator isn't showing to me any longer.

[2016-01-31 23:17] #47 closed

[2016-01-31 23:18] gilbertohasnofb commented on #47
I get the error `Failed to load file: "Aircraft/c182/Models/Instruments/vsi.xml"`

[2016-01-31 23:19] gilbertohasnofb commented on #47
Found the problem, it's the capitalization of the `VSI.xml` file (Linux is case sensitive). I will fix it myself now.

[2016-01-31 23:25] HHS81 commented on #56
I wonder where I should put them on the uvmap

[2016-01-31 23:26] HHS81 commented on #33
I will close it, if the difference is small, I won't spend any time now. Later maybe.....

[2016-01-31 23:26] #33 closed

[2016-01-31 23:28] gilbertohasnofb commented on #56
There is still some tiny places in the main panel texture (such as in the holes of the engine gauges). Since all switches will have the same metallic look (right?) we can simply add a single switch to one of those holes.

[2016-01-31 23:33] HHS81 opened #57 "EGT and Oil gauge not quite right scaled"
scale both gauges

[2016-01-31 23:35] HHS81 commented on #56
How should I uvmap them?
looking directly on it, or from side view?

[2016-01-31 23:38] gilbertohasnofb commented on #56
Probably top view (then mirror the texture on the bottom). See for instance the texture used in the c172p:

![untitled](https://cloud.githubusercontent.com/assets/5700795/12706023/2909e4d0-c87c-11e5-83b1-0d4f21d1486e.jpg)

[2016-01-31 23:39] HHS81 commented on #56
Thanks!

[2016-01-31 23:40] gilbertohasnofb commented on #56
My pleasure!

[2016-02-01 14:00] HHS81 commented on #57
Done

[2016-02-01 14:13] gilbertohasnofb opened #58 "Engine gauges texture problems"
There are some problems with the new engine gauges, see:

Everything marked in yellow is either cut or too close to the borders. Everything marked in purple have being UV-mapped into two different heights which can be seen from some angles (look at the PSI text in the image for instance):

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/12719594/53033f64-c8f6-11e5-9da4-4f5756

[2016-02-01 14:14] gilbertohasnofb commented on #57
There are some problems with the new gauges which may be related to this, see: https://github.com/HHS81/c182/issues/58

[2016-02-01 16:02] HHS81 commented on #57
both gauges are ready for a review - see PR

[2016-02-01 16:03] gilbertohasnofb commented on #57
:+1: I will do it right now!

[2016-02-01 16:05] HHS81 opened #61 "FuelQTY, VacAmp and ManifoldGauge instruments are not correct"
all 3 instruments are not correct drawn and modelled (position of needles etc....), which is cause for #58

[2016-02-01 16:06] HHS81 commented on #58
Please see also #61

[2016-02-01 16:07] gilbertohasnofb commented on #57
Closed via https://github.com/HHS81/c182/pull/60

[2016-02-01 16:07] #57 closed

[2016-02-01 16:08] gilbertohasnofb commented on #58
https://github.com/HHS81/c182/pull/60 has fixed part of the issue, so now it's missing the label FUEL in the fuel gauge (which I didn't circle above but I think it's too close to the border) and the VAC AMP gauge.

[2016-02-01 16:12] gilbertohasnofb commented on #40
Closed via https://github.com/HHS81/c182/pull/59

[2016-02-01 16:12] #40 closed

[2016-02-01 19:03] HHS81 commented on #61
see PR #62

[2016-02-01 19:03] HHS81 commented on #58
see PR #62

[2016-02-01 19:19] gilbertohasnofb commented on #61
Closed via https://github.com/HHS81/c182/pull/62

[2016-02-01 19:19] #61 closed

[2016-02-01 19:20] gilbertohasnofb commented on #58
Closed via https://github.com/HHS81/c182/pull/62

[2016-02-01 19:20] #58 closed

[2016-02-02 02:27] HHS81 commented on #54
See: https://github.com/HHS81/c182-Textures/liveries for paintkit

when usuable, it can be copied into an own folder c182/Models/Paintkit or anywhere else

[2016-02-02 10:39] gilbertohasnofb commented on #54
I don't think I understand, Heiko, is this still a work in progress and the message above is a reminder to yourself or is the paintkit done in principle?

[2016-02-02 13:03] HHS81 commented on #54
It was late ( better: very early) when I wrote this comment.
I have paintkit ready for Gimp and Inkscape, and put it into c182-textures-repo.
I'm sure you wanna test ist, and report things which might be a problem.

I thought about adding into the mentioned folder. But I think this would increase file size, and we have an official livery database with palce for paintkits as well.

Let me know what

[2016-02-02 14:14] gilbertohasnofb commented on #56
Heiko, what do you think if we do things a bit differently this time: what if I just add this switch texture to the file, and then you use it as source for mapping? Would that work for you?

[2016-02-02 14:16] gilbertohasnofb commented on #54
Great, Heiko! I will get my hands on it and make some liveries for us then :smile:

Yeah, I agree with you on this, let's leave it in the separate repository for now.

[2016-02-02 14:17] gilbertohasnofb commented on #49
I added the FGAddon Release milestone (which by the way, has a small typo, it's missing the "a" in "release"). I think we can at least have a cockpit image as thumbnail and splash screen for now, and then later I will create some nice different splash screens.

[2016-02-02 14:51] HHS81 commented on #56
Yep, that would be perfect!

[2016-02-02 16:26] gilbertohasnofb commented on #56
Ok, it's done! As for the liveries, I will check that paintkit in the next days as soon as I have some time

[2016-02-02 16:31] gilbertohasnofb opened #63 "Confusing textures for flaps"
Currently all our instrument textures are located inside `c182/Models/Instruments`, while our flaps texture is located at `c182/Models/`. Moreover, the directory `c182/Models/Instruments` does contain a file named `flaps.png`, which seems to be corrupted and is not in use. I suggest that we:

- delete `c182/Models/Instruments/flaps.png`
- move `c182/Models/flaps.png` to `c182/Models/Instruments`
-

[2016-02-02 20:11] HHS81 commented on #63
In Blender you can't apply textures when they are not in the same folder. I know some .xml-magic which could do the trick, but since the flaps isn't an instrument I would better keep the texture in c182/Models/flaps.png.

So I delete the corrupted file in  `c182/Models/Instruments/flaps.png`

but keep` c182/Models/flaps.png`

[2016-02-02 21:25] HHS81 commented on #56
see PR #65 for review

[2016-02-02 21:26] HHS81 commented on #63
see PR #64

[2016-02-02 22:24] gilbertohasnofb commented on #63
Closed via https://github.com/HHS81/c182/pull/64

[2016-02-02 22:26] gilbertohasnofb commented on #63
Thanks Heiko! Just two things:

- you forgot to write "Fixes #63" on the PR, which would have closed this issue automagically :wink:
- I think there is a way in Blender to use textures in different folders, if I am not mistaken that's how the c172p is doing now. But anyway, let's keep that file wherever you think is good, I have no opinions on that at all

[2016-02-02 22:36] HHS81 commented on #63
Damn, I'm still not used to this....

No, the whole 3d-model is in a different folder. FlightGear allows to specify a texture path, but I think it is o.k. to keep the flaps panel where it is

[2016-02-02 22:36] gilbertohasnofb commented on #63
:+1:

[2016-02-02 23:41] #56 closed

[2016-02-02 23:42] #63 closed

[2016-02-02 23:49] HHS81 opened #67 "Idea: spiral cable from panel to yoke"
adding a spiral cable from panel to yoke,  animated by scale-animation; using control-texture

Background:
Cable in Real Life goes to the map light mounted at the bottom of the yoke. Not possible in default or ALS, but able in Rembrandt.

[2016-02-03 16:46] HHS81 opened #68 "Make use of procedural lights"
Make use of procedural lights for:

- Navlights red, green, tail
- Strobe

- Beacon (if offset can be defined)

not for landing or taxilight - I like those textures :heart_eyes:

Test available at: [https://github.com/HHS81/c182/tree/newlights](url)

[2016-02-03 16:47] gilbertohasnofb commented on #68
Great, I will test them soon :smile: (and yes, your landing and taxi lights are amazing!)

[2016-02-03 17:30] gilbertohasnofb commented on #68
Looks good, but I found some problems with the lights in general:

- maybe the tail light has to be moved slightly backwards as there is a black dot in its centre (is that the fuselage colliding with it?)
![fg-0](https://cloud.githubusercontent.com/assets/5700795/12790709/e51c5dfa-caa3-11e5-8081-ede5ce78c3d5.jpg)

- same is true for the strobes
![fg-3](https://cloud.githubusercontent.com/assets/57

[2016-02-03 18:12] HHS81 commented on #68
Lol, the strange red light is the new procedural light testing the angles.
All other lights are the one we were used to. No change on that yet.
Those artifacts you mentioned I've never seen. Especially not on the beacon.

[2016-02-03 18:18] gilbertohasnofb commented on #68
Lol :stuck_out_tongue_winking_eye: :dizzy_face: facepalm...

Anyway, I have not seen those artifacts before either! I have no idea what is causing them, but if we plan to move on to the procedural lights it won't matter anyway. But it's really strange how the nav lights look so dim now, but maybe I got used to how the look on the c172p after so much testing there.

But about the procedural light:

[2016-02-03 18:33] HHS81 commented on #68
You can define it, even per runtime if you want, I just simply didn't it here.

Well, I was one of them. I admit, it indeed looked much better before. The problem is: with desaturating the colors itselfs needs adjustements, especially red. Unfortunately the scenery lights are hardcoded (Simgear?).
Here on the aircraft procedural light we can adjust the colors to our liking. I just wanted to test t

[2016-02-03 18:35] gilbertohasnofb commented on #68
Okay!

[2016-02-03 18:39] HHS81 commented on #68
making it white in the middle gives us a star effect - who is brave enough to ask him to allow also the use textures instead of shader magic?

[2016-02-03 18:42] gilbertohasnofb commented on #68
hahaha :laughing: I am already involved in some changes to the airfield effect and I have been a pain in his neck, so I dare not!

[2016-02-03 23:13] HHS81 commented on #68
updated branch "newlights" again:
- made use of procedural lights for all lights (without taxi and landinglights)
- made them dependant from the used renderer

What I learned today:
- I don't like the star effect and would like to see that I'm able to use my own textures.
- it IS possible to create wider angles than 180deg - by using two light-quads and a seperate effect for each of them defining

[2016-02-04 12:01] gilbertohasnofb commented on #68
I am with you 100% here. And not only regarding the aircraft lights, but the scenery lights as well...

By the way, that second shot of yours above looks amazing, I hope you won't mind but I will post it in the forum :smile:

[2016-02-06 10:25] gilbertohasnofb opened #69 "Write about c182 in the wiki newsletter"
This month (February 2016), write about the c182 project in the wiki newsletter (with links to the forum thread and to the repository), so more people will come to know it.

[2016-02-08 21:39] HHS81 commented on #68
Ready for review

[2016-02-08 21:47] HHS81 commented on #68
![fgfs-screen-005](https://cloud.githubusercontent.com/assets/12649375/12900306/e793f0be-ceb5-11e5-97dd-50fbd4419c7c.jpg)

![fgfs-screen-006](https://cloud.githubusercontent.com/assets/12649375/12900298/e2b97e10-ceb5-11e5-9e7a-bd6921c20a89.jpg)

[2016-02-08 22:01] HHS81 opened #71 "Wrong Power and FuelFlow settings"
Currently power and FuelFlow were set to match the values in POH. But the power values are not matching with the POH.

Problem:
Accidently I used the wrong mixture setting.
Cessna recommends Peak EGT, I used to trim the values with Best power-mixture (125°F Rich).

Solution:
retune the values for cruise perfomance with the right mixture setting PEAK EGT!

[2016-02-09 07:55] gilbertohasnofb opened #72 "Better UV map of the Attitude Indicator"
Quoting from the c172p project:

The UV-map was fixed in that project, so I will copy it here as well.

Ref: https://github.com/Juanvvc/c172p-detailed/issues/373

[2016-02-09 08:00] gilbertohasnofb commented on #72
Hmm, that doesn't work well because the model of the AI in the c172p has changed now. I think we will have to re-UV map it ourselves.

[2016-02-12 18:50] HHS81 opened #73 "Transparency Issue with Rembrandt"
- The glasses are not correctly rendered in Rembrandt
- 3 instruments are not correctly rendered in Rembrandt
![fgfs-screen-008](https://cloud.githubusercontent.com/assets/12649375/13016921/df95deae-d1c1-11e5-81f7-1f2bc3dca72d.png)

[2016-02-12 20:02] HHS81 commented on #72
O.k., I'll try it to remap....

[2016-02-13 01:39] HHS81 commented on #55
Update:
took the code from the walker - and it works!! :smile:
The wooden-chocks.ac holds the aircraft at its place - even with full thrust!
The wooden-chocks keeps their position- even if the aircraft is moving. No flying trucks.... :yum:

![nobrakes](https://cloud.githubusercontent.com/assets/12649375/13024766/9c0a3ed0-d1fa-11e5-9118-bc147c88289d.jpg)

Push soon

[2016-02-13 01:44] HHS81 commented on #55
Known Issue:
the point of the ground reaction is exactly at the middle bottom of the wheel - that's explain the offset to the chocks in the picture.

- FDM-wheels needs probably one more contact point?
- or a invisible collision object with an offset?

Guess the later makes more sense, the first one is more realistic but might be problematic on the normal ground....

[2016-02-13 01:49] HHS81 commented on #55
Known current Issue as well:
- possible interaction with a later added walker - have to test it

[2016-02-13 17:12] gilbertohasnofb commented on #55
I'd say the yellow chocks would fit better, the idea of the wooden one is to look "improvised", just like one can expect to find in a bush plane in the middle of Alaska for instance :smile:

As for the fuel-trucks, I don't think it's common to refuel these single engine planes with trucks, but rather using a gas pump in the airport, though I may be mistaken here.

[2016-02-13 17:38] HHS81 commented on #55
Hi,

yep, the yellow chocks are indeed better.
The truck was just mentioned as an example. The whole thing is easy to implement, there is no bad interaction with the walker and no fps-impact.
Maybe something for the c172p...

I found that today: http://www.aircraftspruce.eu/images/products/Airplane_Ready_to_Refuel_Small.jpg
Maybe?

The Cessna 182 allows external power supply, so at least a small g

[2016-02-13 17:39] gilbertohasnofb commented on #55
Sounds all good, but about the small refuel unit, how much fuel does that carry? Can you really fill two tanks with it?!

[2016-02-13 18:03] HHS81 commented on #55
Probably not much enough....but there are even bigger ones, pulled by cars.

Anyway, I think with the chocks we have already a nice feature. This feature is maybe more interesting for bigger aircraft like dhc6 or airliners. Imagine stairs placed via model-manager, and you can enter the aircraft  with the walker via the stairs....

[2016-02-14 02:44] HHS81 commented on #55
Had some troubles with the gui.....but solved after hours.

Just a ladder is missing, so Waldo can check Fuel Quantity and Fuel Filler Caps ....

![nobrakes2](https://cloud.githubusercontent.com/assets/12649375/13031371/ae883c9c-d2cc-11e5-8a58-ab254b10c2de.jpg)

[2016-02-14 10:35] gilbertohasnofb commented on #55
If you need any help with the chocks//tie-downs/pitot tube cover logic and GUI, let me know (I did quite a lot of the work on them on the c172p). And by the way, your shots are incredible as always, that first shot is really beautiful!

[2016-02-14 15:38] HHS81 commented on #55
Thanks :smiley:
The problem was, that `dialog-apply` in combination with a setlistener applies the value to all sub-objects in the GUI. Took me a a lot of time to find out and how to solve this.

Now, a property is simply toggled via the GUI. This triggers a nasal-script who gets the position, orientation and altitude of the aircraft and places a model with this values applied in the scenery. The

[2016-02-14 15:44] gilbertohasnofb commented on #55
Great!

I think two of the reasons for the logic used in the c172p's chocks are: 1) there are two types of chocks used for different models, but more importantly 2) the chocks can be added both via the GUI menu but also by clicking on them. Is this still possible in your implementation?

Yes, to me as well, that part was done by onox, and I unfortunately don't have knowledge on how these external

[2016-02-14 15:45] gilbertohasnofb commented on #55
I had first implemented the tie-downs as static objects, but the problem was that when the aeroplane accelerates, it lowers the nose even if tied down (which is what is expected), and that code onox wroteis used partially to make the tie-downs "elastic" on a given point in the pavement.

[2016-02-14 16:13] HHS81 commented on #55
The reason on the c172pis, that the chocks-models are not recocgnized as collision-objects, and tied to the aircraft-model. So there is a workaround with use of the parking-brake, which explains the rather complex logic.

My solution just simply adds a model in the scenery, which physically acts like in real life.
It is easy to implement, and another feature X-Plane don't have ! :bowtie:

In the m

[2016-02-14 16:14] HHS81 commented on #55
Yep, that's pretty cool, hwo it works, really realistic!
I just don't understand how to implement it.

[2016-02-14 19:24] HHS81 commented on #55
- removed alpha-channel from textures
- added ladder-model
- added pitot-cover-model (from dhc6)
- dialogs for aircraft options, securing and ground-stuff
- removed unneded files

and I forgot:
- added clickspots to wheel-chocks. Currently the chocks can be removed at once, but can be done later if wanted (and would be a nice feature - imagine when one chock is forgotten to remove....:smile:)

Iss

[2016-02-14 19:37] gilbertohasnofb commented on #54
Heiko, I started working on some liveries. I have to say your paintkit is simply the best paintkit I have ever encountered, it's been such a pleasure to work with it! :smile: :+1: :clap:

I am creating a PR for my first livery now

[2016-02-14 19:51] HHS81 commented on #54
:blush:
Thanks!

[2016-02-14 20:18] gilbertohasnofb opened #75 "Holes in the horizontal stabilizer"
Question: what are these holes in the horizontal stabilizer? Is this intentional?

![fgfs-screen-001 55](https://cloud.githubusercontent.com/assets/5700795/13036166/56c43652-d360-11e5-8a5a-9417e5df08f5.png)

[2016-02-14 20:27] HHS81 commented on #75
Yes, intentional.
I can't say how large this is in cm, but the hole is there on the real aircraft:
![image](https://cloud.githubusercontent.com/assets/12649375/13036223/811dddda-d361-11e5-88e3-7d47f9c43a2e.png)

So it is a won't fix

[2016-02-14 20:27] #75 closed

[2016-02-14 20:28] gilbertohasnofb commented on #75
Oh, I couldn't find a photo from that angle, but that said it's all god! :+1:

[2016-02-14 20:30] gilbertohasnofb commented on #49
By the way, Heiko, I have seen that you uploaded some great shots (as always) to the repository page, but I noticed that you left the frame rate counter on them. If you plan to make shots for promotion (splash screen, repo page, forum, etc.), would you mind hiding those? I will make some "GIMP surgery" on them to hide the fps and update the `README.md` with the new links, then I will add these ima

[2016-02-14 20:35] gilbertohasnofb commented on #49
I hope you don't mind but I just went ahead and did the surgery :smile:

[2016-02-14 20:37] HHS81 commented on #49
Sure no problem. I left the fps counter as control for myself.

[2016-02-14 20:37] gilbertohasnofb commented on #49
:+1:

[2016-02-14 21:08] HHS81 opened #76 "List of interesting Cessna 182 S-Variants liveries"
Here a list of interesting Cessna 182 S-Variants Liveries:

- The first Cessna 182 S, and first Cessna 182 after more than 10years out of productions:
 http://www.flyperformance.com/aircraft/cessna-n182fn/:
 ![image](https://cloud.githubusercontent.com/assets/12649375/13036293/c32e7b42-d363-11e5-92b4-8243e562fd26.png)

- HB-CQP:
http://www.airliners.net/search/photo.search?regsearch=HB-CQP&distinc

[2016-02-14 21:49] gilbertohasnofb commented on #76
Thanks a lot, Heiko! I will work on some of these soon :smile:

[2016-02-15 00:00] HHS81 commented on #55
@gilbertohasnofb Finally added tie-downs - so ready for review!

[2016-02-15 00:16] HHS81 commented on #73
forgot the Issue #78 73 sign in the PR again- close it manually....

[2016-02-15 00:16] #73 closed

[2016-02-15 00:19] #68 closed

[2016-02-15 00:19] HHS81 commented on #28
@gilbertohasnofb can this be closed?

[2016-02-15 00:22] HHS81 commented on #54
Should I now add the paintkits so users have them easily, or keep them out?
So when  released to FGAddon we can send them ro Livery database?

[2016-02-15 00:28] #72 closed

[2016-02-15 01:31] HHS81 commented on #55
Another Promo-pic:
![fgfs-screen-005](https://cloud.githubusercontent.com/assets/12649375/13037960/2ce8b9c6-d38c-11e5-9add-5d387dc29873.jpg)
(yes, the ladder is already moved in the PR....)

[2016-02-15 01:45] gilbertohasnofb commented on #54
I would probably keep all xcf in the `c182-Textures` repository, but I don't have a strong opinion about it

[2016-02-15 01:46] gilbertohasnofb commented on #55
Great pic! I will review the PR

[2016-02-15 01:48] #28 closed

[2016-02-15 01:48] gilbertohasnofb commented on #28
:+1:

[2016-02-15 01:51] gilbertohasnofb commented on #54
Also, we can probably close this issue here I think

[2016-02-15 01:51] #54 closed

[2016-02-15 01:52] gilbertohasnofb commented on #55
Heiko, people are asking in the forum if you are tweaking those shots in the `README.md` file or not (adding blur, correcting colours and light, etc.). If so, personally I'd rather keep them untouched as to show what FG is really capable of.

[2016-02-15 01:56] gilbertohasnofb commented on #72
Much better!

[2016-02-15 02:00] HHS81 commented on #55
yep, the exterior shots had been tweaked. The interior shot uses the AO Map, which needs some improvements though

[2016-02-15 02:08] gilbertohasnofb commented on #55
If you are up for it, let's avoid tweaking these promo shots then. I think in the right conditions the shots from FG hardly need any adjustments!

[2016-02-15 02:17] HHS81 commented on #55
o.k, the pic above is untweaked btw.... But I agree to someguy, that in some conditions a tweaking can improve the image

[2016-02-15 02:22] gilbertohasnofb commented on #55
Surely it does improve, which is exactly the problem! A tweaked image feels like "cheating" to me because you can't achieve that in the sim. I don't see much point in developing for a 3D application/game and then tweaking the "advertisement" screenshots (or to be frank, _any_ screenshots for that matter).

[2016-02-15 02:22] gilbertohasnofb commented on #55
:+1:

[2016-02-15 11:54] gilbertohasnofb opened #80 "remove prop cone holes from AOMap"
Remove prop cone holes from AOMap, as when the propeller starts spinning it leads to this ugly results:

![untitled](https://cloud.githubusercontent.com/assets/5700795/13048005/3095b81a-d3e3-11e5-8754-8cf01d6620de.jpg)

@HHS81 would you be able to fix the paintkit? I would then fix the affected liveries.

[2016-02-15 11:58] gilbertohasnofb commented on #80
And by the way, how do you create those beautiful AOMaps? I am **really** impressed with your paintkit

[2016-02-15 12:10] gilbertohasnofb commented on #55
Heiko, I know I spoke against the fuel trucks, but it seems I was wrong, they are indeed used for refuelling this type of aircraft. See:

![](http://2.bp.blogspot.com/_NfN_EWerqnQ/TEaDAgWXZlI/AAAAAAAAA2s/e7wdBtEPOt4/s1600/fuel.JPG)

![](http://www.cessna150.net/Assets/Photos/l_outside_photos/Refuling.JPG)

Also see: https://github.com/Juanvvc/c172p-detailed/issues/717#issuecomment-184181806

[2016-02-15 12:57] gilbertohasnofb commented on #55
@HHS81 Also in that link from the c172p repository, onox is proposing some interesting things, please check it out when you have time

[2016-02-15 13:23] HHS81 commented on #55
yep, but not a small fiel in britisch columbia.... :smile:

I thought more about something [like that:](http://i.ebayimg.com/images/i/151069853573-0-1/s-l1000.jpg)
We have already a photorealistic model in the scenery model page, and can be visited in EDAU.

At some point immersive realism is getting very difficult to create in flight simulator...

[2016-02-15 13:25] gilbertohasnofb commented on #55
I agree with you, but both options are fine with me: I don't mind a truck in a small field as much as I don't mind a small portable tank being able to fill two full tanks. But that said, I think the truck solution is still better, though I will leave this up to you.

[2016-02-15 13:26] gilbertohasnofb commented on #55
It's always possible to bring a truck to virtually any airfield in the world, but the same can't be said about a tiny tank fitting so much fuel

[2016-02-15 13:27] HHS81 commented on #80
Noticed yesterday, easy to fix.

[Simply like that](http://wiki.flightgear.org/Howto:Add_smooth_(%22Ambient_Occlusion%22)_shadows_in_Blender)

But a bit more enhanced, since I use Blender Cycles and added a ground to make the bottom surface of the aircraft more darker.

[2016-02-15 13:28] gilbertohasnofb commented on #80
:+1: let me know once this is fixed so I can update those liveries in the same PR

[2016-02-15 13:33] HHS81 commented on #55
The protable fuel tanks can be much bigger, the biggest one can hold 1000 gal, the smalles one 280 gal:[http://www.fuel-togo.com/trailers.html](http://www.fuel-togo.com/trailers.html)

[2016-02-15 13:34] HHS81 commented on #80
sure

[2016-02-15 13:34] gilbertohasnofb commented on #55
Oh, in that case no problems at all!

[2016-02-15 16:52] gilbertohasnofb commented on #76
Heiko, can you confirm that N339ME is a model S, please?

![](http://www.us.all.biz/img/us/catalog/132522.jpeg)

![](http://www.aircraftmerchants.com/images/44589CBA-0C34-424E-985A-B1849F06512D/2.jpg)

more info: http://www.westerncardinal.com/sales/n339me/index.shtml

[2016-02-15 16:58] HHS81 commented on #76
Yes, it is a so called MIllemnium Edition - a special edition. Maybe a different avionics, I can see a HSI. The S-Models had been only built between 1996 and 2001. Everthing later until today were T-Models

[2016-02-15 17:07] gilbertohasnofb commented on #76
In that case, I will just leave it aside.

[2016-02-15 17:07] gilbertohasnofb commented on #76
Thanks, by the way :+1:

[2016-02-15 17:12] HHS81 commented on #76
Well, it is a Cessna 182 S Millenium Edition. Like Cars - as an example there is a Ford Focus - and the special edition Ford Focus RS. But both are Ford Focus.
The Cessna 182 S Millenium Edition were built 2000 - that's why _millenium_ edition

[2016-02-15 18:37] onox commented on #55
I have a patch here which fixes a problem with the right tie-down. It also defines three booleans to prevent them having an unspecified type. Changed the name in the license block of `Systems/c182s-ground-effects.xml` because the code it contains was written by me, not wlbragg.

Using the `StaticElements` branch, do `git am -s 0001-Fix-location-of-right-tie-down-in-FDM.txt` to apply the patch.

[0

[2016-02-15 18:58] HHS81 commented on #55
@onox
Great, Thanks! :smiley:

[2016-02-15 19:07] HHS81 commented on #80
Done!

[2016-02-15 19:07] gilbertohasnofb commented on #80
Thanks! So I will fix those liveries tonight!

[2016-02-15 19:18] HHS81 opened #82 "wheel fairings not selectable"
Though not mentioned in the POH, there are S-Models without wheel fairings. (Nose and/ or main gears)

I change this, make the fairings optional in the livery-files, and in the gui-dialog.

An influence on the aerodynamics may come later, as it is not clear how much drag the gears produce without fairings.

Fix of this issue will go into branch `StaticElements` as the new GUI is defined there alre

[2016-02-15 19:52] gilbertohasnofb commented on #80
done, see the PR

[2016-02-15 19:55] gilbertohasnofb opened #84 "Remove unecessary files"
Are the files `/Models/FuselageTexturing.png`, `/Models/Texturing-Interior.xcf` and `/Models/UVmap.png` still necessary? Can we remove them?

[2016-02-15 20:09] HHS81 commented on #84
Are the files /Models/Texturing-Interior.xcf and /Models/UVmap.png already removed in branch `StaticElements`, the other file I will do

[2016-02-15 20:17] gilbertohasnofb commented on #84
:+1:

[2016-02-15 20:54] gilbertohasnofb opened #85 "strong pull to the right during take off roll"
I always feel a strong pull to the right during take off roll and often I am applying near to full rudder to keep the aircraft in the runway. Once the aircraft leaves the ground, it immediately tries to go to the left (given the near full rudder). Is this behaviour normal/intended?

[2016-02-15 21:09] #80 closed

[2016-02-15 21:16] HHS81 commented on #85
I can't tell, I'll investigate

[2016-02-15 21:16] gilbertohasnofb commented on #85
Ok

[2016-02-15 21:24] HHS81 commented on #85
I know that currently forward slips aren't possible. It is on my to-do-list. I already tried, but the real values I used makes the aircraft very sensible. Needs a while....

[2016-02-15 21:28] gilbertohasnofb commented on #85
Heiko, if you'd like we can contact Dany (dany93 from the c172p project). He is very knowledgeable with FDMs overall and he implemented the stall behaviour in the 172. Maybe he would be interested in taking a look here and giving his opinion.

[2016-02-16 04:27] wlbragg opened #87 "Nav Lights quad showing in FGRun"
Needs a nopreview tag. I looked at the code but couldn't find where the procedural-light object was being introduced. The tag failed to work on red-navlight, etc.
![preview](https://cloud.githubusercontent.com/assets/11069680/13067553/e293f146-d436-11e5-84f5-025d0c4f5e63.jpg)

[2016-02-16 15:27] gilbertohasnofb commented on #54
Hi Heiko, I just wanted to give you some more feedback on the paintkit. As I said, your work is really excellent (the best I have seen in FG), but there are some minor things that you could have done to improve it. I am not proposing to change anything at all (particularly now that we have so many liveries already!), I am just giving you some feedback so you can create even better paintkits in you

[2016-02-16 15:30] gilbertohasnofb opened #88 "rethink the texture of the leather in the top panel"
Rethink the texture of the leather in the top panel: if we UV map the whole top panel as of now, it's impossible to get a high resolution leather texture. I would love to achieve this sort of detail here:

![](https://flyawaysimulation.com/media/images14/images/a2a-cessna-182-cockpit.jpg)

What about using some sort of grain texture that is tileable just for that object, would that work? Do you ha

[2016-02-16 18:35] HHS81 commented on #54
Yes, you were much faster as I ever thought, incredible, and many thanks for! :+1:

The uvmap is made like this, so no space is wasted, using much space as possible, and leaving much space as possible for other parts of the model. This is done to provide and support highly defined textures (if possible!). We speak of pixel per meter ratio. The more pixel per meter the better. For this model I get

[2016-02-16 18:47] HHS81 commented on #88
When I started the UVMap I had the  impression from the existing images I had, that the glareshield is made of some form of smooth plastic. I didn't see any leather textures, so I decided to have this in this size.
Myself isn't very happy now with that, but to re-sort the existing textures is much too much work.
I thought about adding a amphibian version later using the model and texture of the c1

[2016-02-16 18:54] HHS81 opened #89 "rethink Milestones"
In the moment I see more and more issues to be fixed, and added to the FGAddon milestone.
But the more and more we add, the less we get to be done.

Release early, release often - when I compare how far the Cessna 182 S is compared to other aircraft in FGAddon we are really far. Maybe not like the Cessna 172p yet, but more than other certain aircraft.

[2016-02-16 19:10] gilbertohasnofb commented on #54
Heiko, I hope you didn't get me wrong with those suggestions; as I had written earlier, this paintkit of yours is really impressive.

Indeed using guides makes life easier; what I pointed out was rather that the fuselage, which is the most important item in a paintkit, could be simmetrical, but not everything else. I know that the logistics behind organizing tons of little uv-maps in a paintkit is

[2016-02-16 19:11] gilbertohasnofb commented on #89
You are right, Heiko. Maybe we can create a second milestone called "FGAddon Release 2" and move some issues over there, what do you think?

[2016-02-16 19:13] gilbertohasnofb commented on #88
That all sounds okay with me. I may try to change the top panel texture we have now for something different: right now we are using a generic leather texture, but in this A2A example above we can see it's actually some rugged plastic. I will try replacing it with a dark texture + very fine grain to it and see if it looks better. I will keep you updated about it.

[2016-02-16 19:18] gilbertohasnofb commented on #51
Heiko, I am closing this since we have already a nice number of liveries (which doesn't mean we can't add more later).

[2016-02-16 19:18] #51 closed

[2016-02-16 19:19] #76 closed

[2016-02-16 19:55] gilbertohasnofb commented on #84
What about the liveries? Default "1" looks great, but do you want to keep defaul2 and default3? If so, I would say we need to apply the AOMap to it.

[2016-02-16 20:04] gilbertohasnofb commented on #88
Hmm, this is the best I can do, the resolution just isn't there:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/13089369/9328edfe-d4f0-11e5-924e-45a1559e11dd.png)

What about this: what if on the top left corner of PanelTexturing-Interior.png we have a 300x300 black plastic tile which will be applied multiple in Blender, instead of a texture for the whole top panel? Would y

[2016-02-16 22:09] gilbertohasnofb commented on #69
Done, see: wiki.flightgear.org/FlightGear_Newsletter_February_2016

[2016-02-16 22:09] gilbertohasnofb commented on #69
@HHS81 let me know if you want to add more information there

[2016-02-21 11:48] HHS81 commented on #89
Yep, that sounds o.k.

I think the same about the priorities.
Maybe it is better to only have up to 4 issues with high priorities, and set the other ones to middle and low. If all 4 issues with high priotity are fixed, the lower ones will move up.

[2016-02-21 11:49] HHS81 commented on #88
I'm not sure how it will interact with AOMaps or lightmaps. I have to test

[2016-02-21 11:50] HHS81 commented on #84
Default 1 will be kept, (maybe a bit improved adding the cessna emblem), the oner onnes I will delete, as they were only made for testing.

[2016-02-21 13:13] gilbertohasnofb commented on #89
Sounds good. In that case, I think we can close this, right?

[2016-02-21 13:13] #89 closed

[2016-02-21 13:13] gilbertohasnofb commented on #84
:+1:

[2016-02-23 15:56] HHS81 commented on #85
I had a look, and I can't reproduce this issue.
There is a little pull to the right and a stronger to the left, when the gear is leaving the ground. That's due to p-factor. At least this is to strong, and I have another fdm here on my system which improves this. Nethertheless, with this fdm I don't get the ability for a forward-slip. Actually I can set the fdm between "no-strong-p-effect" and "abi

[2016-02-23 19:14] gilbertohasnofb commented on #85
Ok Heiko, I will try to see how reproducible it is and report back. But I did not meant the moment the gear is about to leave the ground, but rather the whole take off roll.

[2016-02-24 17:16] HHS81 commented on #85
hmmm.... on ground I can only imagine that the brakes are pressed accidently. They are coupled with the nosegear and will increase the steer angle (like in real).
But yesterday I noticed that the rudder trim is not set to zero, and it has a quite large influence.
Well, like I said, there is a fdm in progress, which schould fix this.

[2016-02-28 14:14] #49 closed

[2016-02-28 16:36] HHS81 commented on #85
It seems I coming the solution nearer.... :smiley:

[2016-02-28 17:33] gilbertohasnofb commented on #85
Heiko, sorry for not replying for the last message here, I haven't had much time with FG lately. I still observe this strong right pull during the take off roll but not all the time, and I can't narrow down what is the problem: I know it's not due to the rudder trim as I have seen this happening while the trim is centred. It's also not related to the brakes. I am trying to test which wind conditio

[2016-02-28 18:26] HHS81 commented on #85
can you make a screenshot while this happing from cockpit view?

[2016-02-28 19:20] HHS81 commented on #85
Please test also branch `FDM` which fixes some issues

[2016-02-29 12:24] gilbertohasnofb commented on #85
Ok Heiko, I will try to do that today. The thing is my system updated the graphic driver and things didn't go as plan, and right now I am having troubles executing any 3D program. I will try to solve this tonight and hopefully test all this!

[2016-02-29 13:50] HHS81 commented on #85
No problem, take your time to fix your graphic driver.

[2016-03-01 21:13] gilbertohasnofb commented on #85
Hi Heiko

[2016-03-01 21:14] HHS81 commented on #85
And that is what issue?

[2016-03-01 21:18] gilbertohasnofb commented on #85
So, the problem is still there. Have a look at these images:

1) the wind is coming from the right, so if anything the wind should send the aircraft to the LEFT, not to the RIGHT:
![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/13442205/481787b0-dffb-11e5-84fe-ec5171135f2b.png)

2) trims are neutral, so are the brakes and the control surfaces:
![fgfs-screen-002](https://cloud

[2016-03-01 21:19] HHS81 commented on #71
Mainly fixed, but wrong horsepower at 4000ft @ 24 MAP (but correct at 23 MAP) so keeping this open until I fixed it.

[2016-03-01 21:20] HHS81 commented on #85
O.k. Thanks. I'll take a look

[2016-03-01 21:36] HHS81 commented on #85
Can reproduce it, and the effect is even expected. But not that strong.

[2016-03-01 21:38] gilbertohasnofb commented on #85
Great!

What do you mean expected? In the situation above, with the wind coming from the right and pushing the aircraft left, together with the P-factor also sending the aircraft to the left, how is this behaviour expected?

[2016-03-01 21:46] HHS81 commented on #85
@gilbertohasnofb
It is probably 50% fdm and for sure 50% pilot error :smile: :

When Taxing/starting in crosswind you have to put the ailerons up into the wind - wind from right --> yoke right. Wind from left --> yoke left.
To keep the aircraft on the runway straight you have to compensate this with the rudder.
See this diagram (for taxiing) from the POH:
![image](https://cloud.githubusercontent.c

[2016-03-01 21:48] gilbertohasnofb commented on #85
I always thought this was needed only for taxing, but that you shouldn't do it during the take off roll. Still, if the wind comes from the right, there is no way that the aileron position will send you to the right!

[2016-03-01 21:53] HHS81 commented on #85
It is needed for take-off and recommended for landing. We had this discussion these days at c172p-project.
But the needed rudder-input is too much here - I'll just investigate why....

[2016-03-01 21:58] gilbertohasnofb commented on #85
Heiko, my point is that only only the amount of input seems incorrect, but also the direction of it. It seems to me that the situation I observed in the sim is physically impossible.

[2016-03-01 22:09] HHS81 commented on #85
No, there are two reason:
1.) wind is pushing against the vertical stab -. it will turn  the aircraft around the CG, and with that into wind seen from pilot view.
2.) aileron into wind will also turn the aircraft into wind.

Nethertheless I found the issue: I didn't pushed the right file.

[2016-03-01 22:11] HHS81 commented on #85
@gilbertohasnofb
Pushed now the right file into branch `master`
Please test

[2016-03-01 22:13] gilbertohasnofb commented on #85
Now that's more like it! :+1:

[2016-03-01 22:13] #85 closed

[2016-03-01 22:19] HHS81 commented on #85
@gilbertohasnofb
Wind speed 20ktn at ground (25ktn at 100ft and more):
![fgfs-screen-008](https://cloud.githubusercontent.com/assets/12649375/13443939/cbc4b670-e003-11e5-8edd-2c67cad6e51e.png)
![fgfs-screen-009](https://cloud.githubusercontent.com/assets/12649375/13443941/d31632aa-e003-11e5-89fa-0568bec60575.png)

You can even start and land at higher speeds as the images shows.
And yes, that's re

[2016-03-01 22:22] gilbertohasnofb commented on #85
:fearful:

[2016-03-01 23:03] HHS81 commented on #55
I have added a fueltanktrailer, and changed the code to use geo.put_model(), but does not save all too  much lines..... :disappointed:
I need now to seperate each objects of the cones, ladder, and chocks - but it will still look like that:
![fgfs-screen-010](https://cloud.githubusercontent.com/assets/12649375/13445001/fd0f45a0-e009-11e5-90f7-625dcec8c4cc.png)

[2016-03-01 23:14] gilbertohasnofb commented on #55
Really fantastic screenshot :smile:

[2016-03-01 23:15] gilbertohasnofb opened #92 "create ALS exterior shadow"
create ALS exterior shadow

[2016-03-02 01:02] onox commented on #55
@gilbertohasnofb Do you want to add those cones, ladder, fuel tank to our project as well? Does the c172p has a need for that external power unit? If you add the models, you might want to add it to `Models/generic/` to indicate they can be re-used by other aircraft. (Ideally generic stuff should be added to fgdata, but the core devs are too slow and bureaucratic, and we can't easily modify the obj

[2016-03-02 10:57] gilbertohasnofb commented on #55
@onox I will open an issue for it, but I am afraid I can't do it right now, I am really busy with RL which is why I am a bit away from FG lately :cry:

[2016-03-02 10:58] gilbertohasnofb commented on #55
Yes, that's the problem with adding things to FGDATA: it's a pain to modify anything.

[2016-03-02 13:33] #71 closed

[2016-03-03 08:11] tigert commented on #55
Cool work.

I'd say one ladder that you move from wing to wing, there rarely are two. There is rarely a ground power unit used/needed for small planes like a C172.

A nice pic from a few years back. It's very nice to see the Cessna take its shape so well in Flightgear :-) Here we're putting the sticker on the tail of CTL.
![ladder](http://mik.1g.fi/kuvat/Tapahtumat%20-%20Vuosi%202011/CTL%2015000/I

[2016-03-03 08:19] gilbertohasnofb commented on #55
Very nice picture, @tigert, I love this livery :smile:

[2016-03-03 18:14] HHS81 commented on #55
Unfortunately very difficult to solve. The object is "hard", so if it collide with the aircraft, the aircraft will crash. Moving around isn't easily possible with the method now used, and as object animation it will interfer with the ground. The only solution I see is to lift the ladder above the aircraft on the other side. I will try this though it isn't realistic.

[2016-03-03 18:53] gilbertohasnofb commented on #55
What about hiding a ladder from one side when the other is activated? So then as far as the user is concerned, he can only have one ladder at a time, making him/her think it's the same ladder moving.

[2016-03-07 17:17] HHS81 commented on #55
one ladder, only left or right. It isn't technically possible to remove the "enable"-checkbox
![ladder](https://cloud.githubusercontent.com/assets/12649375/13576928/4c8fdf4c-e490-11e5-93ac-07b14f57d599.jpg)

[2016-03-08 04:33] tigert commented on #55
How about two checkboxes if it is hard to do a radio button?

(X) ladder on left wing
( ) ladder on right wing

[2016-03-08 10:50] gilbertohasnofb commented on #55
@tigert I think two checkboxes is a better solution, because you can have neither of them checked (as opposed to two radio buttons, in which one options is always checked). So with two checkboxes, we can have:

- if both are set to false, then stairs are removed
- if one is set to true, force the other to false and add a star to that respective side

Would that work, Heiko?

[2016-03-08 16:22] HHS81 commented on #55
@gilbertohasnofb @tigert

- there is no real difference between checkboxed and radio buttons. Beside the style at least there is no one to my knowledge.

I had gilbertos idea was my goal, but I'm not sure yet if I'm able to do it.

[2016-03-08 19:31] HHS81 commented on #55
@gilbertohasnofb  @tigert O.k. I was able to do it - again kudos for the complete c172p-team for their work, as it was very helpful again! :smiley: :+1:
No I only have to seperate the chocks models and the cones-models and make them clickable....

[2016-03-08 20:14] gilbertohasnofb commented on #55
@HHS81 Great to hear that, Heiko! :smile:

[2016-03-08 20:50] HHS81 commented on #55
if one is set to true, force the other to false and add a star to that respective side
Would that work, Heiko?

After some thinking, I'm sure that wouldn't work since we can not set both to false with this method.
Well I think keep my method this now as it is.

[2016-03-08 21:06] gilbertohasnofb commented on #55
Sure, let's keep your method, but why wouldn't setting two checkboxes to false work? It's a simple condition to detect that AFAIK.

[2016-03-09 18:20] HHS81 commented on #55
@gilbertohasnofb
Because:

Let's play this:
both button false = no ladders
left button true = left ladder, left radio/checkbox checked and  the right button false and no right ladder
right button true = right ladder, right radio/checkbox checked and left button false and no left ladder

and then both button again to false ?

1.) The gui doesn't allow to check a radio/checkbox without doing anythin

[2016-03-25 18:20] gilbertohasnofb commented on #46
@HHS81 in the c172p, @wlbragg has implemented the irradiance effect which looks really good and may be related to this, since it drastically reduces the brightness of the cockpit in general when the sun isn't directly shinning upon a surface.

Also, the same effect can be used to generate some irradiance from the instrument lightning and radio digits, see: https://www.youtube.com/watch?v=o4zyCCea7

[2016-03-25 18:25] gilbertohasnofb opened #93 "create ALS panel shadow"
create ALS panel shadow using a cube map

[2016-03-25 18:25] gilbertohasnofb opened #94 "create ALS landing lights"
create ALS landing lights

[2016-03-26 04:01] wlbragg commented on #46
@HHS81 is this just taking your normal texture (like you existing panel texture) and running it through some kind of filter in GIMP to add the shadows to the textures? In other words, it has nothing to do with an ALS or any of FG's generated effects, it's just editing the texture sheets to look way better?

[2016-03-26 13:09] gilbertohasnofb commented on #46
@wlbragg if I am not mistaken, you create these AOMaps in Blender. If you are interested, open the paintkit `GimpPaintkit.xcf` from https://github.com/HHS81/c182-Textures/tree/master/Liveries and see the layer named AOMap.

[2016-03-26 18:24] wlbragg commented on #46
That is really impressive, but in a sim environment that is supposed to be providing the light for shading the shaded areas of the aircraft how is that going to look, say with the sun on the horizon? Isn't the lighting on the skin then going to be wrong? I suppose it is subtle enough that is still looks better than without it, as  in it still fools the eyes and brain to see the depth.?

[2016-03-26 21:48] gilbertohasnofb commented on #94
@wlbragg would you be able to point to me where the ALS landing light is defined in the c172p? I am having a hard time trying to figure it out by myself... :cry: I understand how the property `/sim/rendering/als-secondary-lights/use-landing-light` is created, but it seems to be used nowhere else than the file `als-lights.xml`, and so I don't see how that turning true activates the effect.

[2016-03-26 21:53] gilbertohasnofb commented on #94
@wlbragg please ignore that, I just read the ALS technical notes and I realise that was not some property you created, but actually a property that is tied directly to the landing lights and setting it to true is enough to turn the ALS landing lights on... (we need a facepalm emoji on GitHub)

[2016-03-27 03:38] wlbragg commented on #94
:+1:

[2016-03-27 20:50] gilbertohasnofb opened #96 "throttle, mixture and propeller levers are not clickable"
throttle, mixture and propeller levers are not clickable (click and drag) nor does the mouse wheel affect them.

[2016-04-05 18:27] #94 closed

[2016-04-05 18:27] #96 closed

[2016-04-12 18:11] #88 closed

[2016-04-24 18:49] HHS81 commented on #82
fixed with latest PR merged

[2016-04-24 18:49] #82 closed

[2016-04-24 18:49] HHS81 commented on #55
Done!

[2016-04-24 18:49] #55 closed

[2016-04-25 16:13] HHS81 commented on #87
@wlbragg  Thanks for this report!
The tag should goes into ../Effects/*light.xml. I added the tag also to the clickspots.

[2016-04-25 16:14] HHS81 commented on #87
@gilbertohasnofb  PR ready for review

[2016-04-25 23:51] HHS81 commented on #46
Too strong effect?

(non-edited, just for testing - no promo)
![giao_test](https://cloud.githubusercontent.com/assets/12649375/14802474/510e37c0-0b51-11e6-8c6b-9cd39bda5007.jpg)

[2016-04-26 02:07] HHS81 commented on #43
![glareshield_pedestallight](https://cloud.githubusercontent.com/assets/12649375/14804505/59e4b99c-0b64-11e6-87df-334f4e0bbf6b.jpg)
![rearcabinlight](https://cloud.githubusercontent.com/assets/12649375/14804508/61a9c0e6-0b64-11e6-811a-4ed3280d1104.jpg)

[2016-04-26 08:32] gilbertohasnofb commented on #46
I don't think it's too strong, I quite like the shot above!

[2016-04-26 08:35] gilbertohasnofb commented on #43
These look amazing!!

As for the instrument illumination, are they supposed to be _that_ yellow in the 182? I have the feeling we have to tone down the saturation of the instrument lights quite a bit.

[2016-04-26 08:35] gilbertohasnofb commented on #87
I will test it right away!

[2016-04-26 08:38] gilbertohasnofb commented on #87
Closed via https://github.com/HHS81/c182/pull/99

[2016-04-26 08:38] #87 closed

[2016-04-29 19:51] HHS81 commented on #43
It is difficult to match the real lighting, but yes, it might be a bit to yellow. But there is another thing, which shows the limits of lightmaps. The glareshieldlight, with this fluorescent lighting of the panel also lighten the instrument faces. So the illumination should then change more to a white. Needs maybe a lite nasal magic....

[2016-04-29 20:03] HHS81 commented on #43
Further work:
![fgfs-screen-014](https://cloud.githubusercontent.com/assets/12649375/14927897/f9249ba6-0e54-11e6-8b6c-91d29e813734.jpg)
![fgfs-screen-015](https://cloud.githubusercontent.com/assets/12649375/14927898/f9288a2c-0e54-11e6-9f15-d3977771e3a8.jpg)
![fgfs-screen-016](https://cloud.githubusercontent.com/assets/12649375/14927899/f929e2fa-0e54-11e6-8697-8e933f0908de.jpg)

I will combine fron

[2016-04-30 09:20] gilbertohasnofb commented on #43
This is looking really promising, Heiko! Very nice work :smile:

[2016-05-29 11:46] HHS81 commented on #43
@gilbertohasnofb  I'm not yet convinced for the cabin walls......
Wish we had proper rendering like X-Plane *sigh* :disappointed:
![fgfs-screen-003](https://cloud.githubusercontent.com/assets/12649375/15633022/34d28356-25a3-11e6-8b74-2bfc82bd582e.jpg)
![fgfs-screen-004](https://cloud.githubusercontent.com/assets/12649375/15633029/59e96bfa-25a3-11e6-95de-86489414d3b0.jpg)
![fgfs-screen-005](https:/

[2016-05-29 15:27] gilbertohasnofb commented on #43
Yeah, I also miss the rendering of X-Plane when I am using FlightGear. As for the walls, it doesn't look perfect but it doesn't look too bad either IMO. But if you have some idea on how to improve the overall effect then let me know how can I help

[2016-05-29 15:28] gilbertohasnofb commented on #43
But that first shot of yours from outside looks quite nice! :smile:

[2016-06-17 23:01] CA1012 opened #101 "QUESTION: Can you make this 182 into a RG?"
The new cessna 182RGs are really cool to train in for complex aircraft training and i was hoping you could add the RG in as a sub-model

[2016-06-18 10:24] gilbertohasnofb commented on #101
What do you mean by "new" 182RG model? As far as I know, the RG model was produced between  1978 and 1986. They are a completely different model than ours, which is two decades younger (including a completely different panel and interior), so making a RG variant would mean creating a completely new project rather than making just a few modifications. I also like the RG very much, but I find it unl

[2016-06-24 20:00] HHS81 commented on #101
Indeed, the Cessna 182 RG isn't new and not in production any more.
And both models are completely different: shorter nose, gear bays, different landinglights.... Well, that is the easiest part since we have already a shorter c182 modelled.

But the interior ist really different, and the systems are more complex. I would really like to see a Turbo RG, but as Gilberto said, it is a completly differ

[2016-06-26 17:29] gilbertohasnofb commented on #101
@HHS81 If this is a `wontfix` then I will close the issue, ok?

[2016-06-26 17:29] #101 closed

[2016-07-03 17:19] HHS81 commented on #43
@gilbertohasnofb  For the release I will just add the glareshield and oedestal lighting, the domwlights will be disabled until I fixed the rendering noise issue.

[2016-07-04 14:32] gilbertohasnofb commented on #43
Sounds good to me, Heiko. Let me know if I can help with anything.

[2016-07-06 02:45] Maurycy-Sokolowski opened #103 "Doesn't load in 2016.1.2"
1) Downloaded repo as zip
2) copied unzipped directory into $FG_AIRCRAFT as 182s

It looks like this

![fg 1](https://cloud.githubusercontent.com/assets/6224146/16606002/08e624ec-42e9-11e6-8607-74568f2de31c.JPG)
![fg 2](https://cloud.githubusercontent.com/assets/6224146/16606003/08e8366a-42e9-11e6-9e7e-55b874dd3b39.JPG)

[2016-07-06 10:36] gilbertohasnofb commented on #103
Hi @Maurycy-Sokolowski, I have tested the plane in FG 2016.1.2 and I can't reproduce the problem. Does the problem also happen with other launchers, such as FGRun?

Did you mean **c**182s?

[2016-07-06 16:40] HHS81 commented on #103
The file Name should be c182. That means as an example: Aircraft/c182/models/...

I decided to do so,  as we do already have other variants in FGAddon. But that's something that could be discussed.

[2016-07-06 17:09] gilbertohasnofb commented on #103
Heiko is of course completely right, and so there was a mistake with my comment above.

Personally I don't see a reason of having keeping the old c182s in FGAddon. As much as the c172p-detailed project has greatly passed the original c172p, the same could be said of the c182s. But that's up to _them_.

[2016-07-06 18:12] HHS81 commented on #103
Ich don' t mean the existing c182s. We also have a c182rg in FGAddon,  and in of our branch we have a pre-1996 c182-model.

[2016-07-06 19:36] gilbertohasnofb commented on #103
Well, the c182rg in FGAddon is clearly another model, but when we release our plane there will be two versions of the S model, one of which is much more developed than the other. I just don't see the point on keeping the other one (FG has already too many barely developed planes in the official repo), but then again the decision is not mine.

[2016-07-06 19:45] HHS81 commented on #103
Of course we will replace the existing c182s,  if Stuart don' t mind it. But I thought for future ...

[2016-07-06 19:46] gilbertohasnofb commented on #103
I see

[2016-07-08 02:26] Maurycy-Sokolowski commented on #103
Let me check tonight and I will let you know. The instructions specified c182s which matches the xml files inside the folder so followed that logic.

[2016-07-09 21:11] HHS81 commented on #93
@gilbertohasnofb
![fgfs-screen-001](https://cloud.githubusercontent.com/assets/12649375/16710316/5317c0f4-462a-11e6-931c-445ba792f234.png)

Need to remove the sunshades from the cubemap

[2016-07-09 21:11] HHS81 commented on #46
@gilbertohasnofb  can be closed?

[2016-07-09 21:14] HHS81 commented on #43
@gilbertohasnofb
Runway in sight, Glideslope alive:
![fgfs-screen-004](https://cloud.githubusercontent.com/assets/12649375/16710328/b3f7ec8c-462a-11e6-8be8-438a82a82fee.png)
Interior shadow together with glareshield light
No Promo image, as I increased the town lights a lot!

[2016-07-09 21:20] gilbertohasnofb commented on #43
Gosh Heiko, this is stunning!!! :open_mouth: :clap:

As for not using it for promo since you increased the town lights, I don't think that would be a problem since it's different than post processing: tweaking in-sim is part of a customizable project such as FlightGear (I for instance have different values for the runway light colours than the default ones). That said, since I am not in the forum

[2016-07-09 21:21] gilbertohasnofb commented on #93
This is looking great. I'd love to see it from an angle in which the panel is half in the shadow half in the sun (this image has it almost completely in the shadow). Also, something that we did in the c172p project was to add a tiny bit of blur to the cubemap, so that the shadow edges are a bit more softer.

[2016-07-09 21:22] gilbertohasnofb commented on #46
Sure, I forgot about it!

[2016-07-09 21:22] #46 closed

[2016-07-09 21:24] gilbertohasnofb commented on #103
So did you test it again?

Yes, that should be it. The folder should be called simply `c182`.

If you suspect that might be the case, it could be worth it trying to seek help in the forum. But is our plane the only one which is affecting you?

[2016-07-09 21:27] HHS81 commented on #92
@gilbertohasnofb
![fgfs-screen-005](https://cloud.githubusercontent.com/assets/12649375/16710392/82db3576-462c-11e6-9467-ca52bad1fe26.png)

[2016-07-09 21:29] gilbertohasnofb commented on #92
@HHS81 :clap: :clap: :clap:

[2016-07-09 23:14] HHS81 commented on #93
@gilbertohasnofb
![fgfs-screen-008](https://cloud.githubusercontent.com/assets/12649375/16710774/49d6312c-463b-11e6-9a76-c1426b3a09ef.png)

[2016-07-09 23:16] gilbertohasnofb commented on #93
Gorgeous screenshot!

[2016-07-16 23:57] HHS81 opened #106 "Remove unneeded liveries (red and blue default)"
and add the improved black-grey striped Default livery.

[2016-07-17 10:33] #93 closed

[2016-07-17 10:45] gilbertohasnofb opened #107 "implement complex startup procedure"
This is what the checklist for our model says about starting the airplane:

Currently, our airplane is only checks that the mixture is high enough to start the engine, even if the master switch is off. The throttle lever gets ignored and the engine starts regardless if it is at 0% or 100% or anywhere in between. The propeller pitch lever also gets ignored. The engine also starts even if the Auxili

[2016-07-17 10:46] gilbertohasnofb commented on #107
Personally, I consider this to be a high priority issue given that our aim is at a realistic plane and not a "press S to fly" kind of plane.

[2016-07-17 10:47] gilbertohasnofb commented on #106
@HHS81 Do you need a hand with this, Heiko?

[2016-07-17 10:47] gilbertohasnofb opened #108 "Implement circuit breakers"
Implement circuit breakers. Currently they are not clickable.

[2016-07-17 10:54] gilbertohasnofb opened #109 "Save states between flights"
One of my favourite features of the c172p is that when you activate the save state toggle in the aircraft menu, every toggle and switch and knob and lever remain in the same position next time the sim is loaded. It brings a great deal of realism to the sim, and I would say we should consider doing the same for ours.

[2016-07-17 10:55] gilbertohasnofb commented on #108
When doing that, the clickable area which toggles the yoke on/off for the co-pilot panel will have to be moved a bit or diminished in size, see:

[2016-07-17 10:56] gilbertohasnofb commented on #52
Also we should make the fuel selector clickable and implement its functioning.

[2016-07-17 10:59] gilbertohasnofb opened #110 "Wheel chokes clickable from inside the cockpit (!)"
Wheel chokes clickable from inside the cockpit (!) Without knowing that the fuel selector lever was not yet implemented, I tried clicking on it (obviously it didn't move). To my surprise, my click would add/remove the wheel choke as if I was clicking through the fuselage! I never seen that FlightGear as every solid object obscures the clicks, but if that's the case then we have to add a conditiona

[2016-07-17 11:01] #92 closed

[2016-07-17 11:02] gilbertohasnofb opened #111 "Improve heading indicator gauge textures"
Improve heading indicator gauge textures, as they are in terribly low resolution right now

[2016-07-17 11:30] gilbertohasnofb commented on #111
same for NAV1 and NAV2 gauges

[2016-07-17 11:51] HHS81 commented on #107
I consider this as an after-FGAddon Release point because:
1.) This needs a complete simulation of the fuel system which is very different from c172p as the newer Cessnas uses fuel-injected engines.There is no example yet in FGFS.
2.) This also needs changes to engine and prop files, since the current numbers at idle aren not correct which makes the engines start immediately and showing too low mp

[2016-07-17 11:56] gilbertohasnofb commented on #107
That's why I added the milestone FGAddon Release **2** :wink:

[2016-07-17 11:58] gilbertohasnofb commented on #107
Or did I misunderstood what that milestone is for? I thought it was for a second future release

[2016-07-17 11:58] gilbertohasnofb commented on #107
Or did I misunderstood what that milestone is for? I thought it was for a second future release

[2016-07-17 11:58] HHS81 commented on #111
I thought about combing those textures into one texture map, which not only decrease RAM-usage, but also enables better lighting effetcs per lightmaps. Negative point about that idea: no reuse possible for other aircraft.

For me is this complete issue a milestone for the next FGAddon Release.

[2016-07-17 11:59] HHS81 commented on #110
Seems like a global FlightGear bug. I would wait, there are a quite lot of bugs in 2016.3.0

[2016-07-17 12:00] HHS81 commented on #52
see my answer Issue #107

[2016-07-17 12:00] gilbertohasnofb commented on #111
Well, given how we currently have individual textures for each gauge I'd say we fix this now (I am already working on it) and later we do as you say and combine into one texture map. Because right now we have three very low res and very ugly looking gauges. And no effort will be loss, since the new textures can be used later on in the texture map. What do you think?

[2016-07-17 12:01] HHS81 commented on #106
@gilbertohasnofb  yep, merge the PR which is ready in a few minutes :smile:

[2016-07-17 12:02] HHS81 commented on #109
yep, for sure. The same about fuel state, battery state etc.....

[2016-07-17 12:03] gilbertohasnofb commented on #106
Ok!

[2016-07-17 12:03] gilbertohasnofb commented on #110
Hmm, I just tested this with the c172p and the same thing occurs, so I think it's not a bug but it's just how FlightGear works (I remembered now that I was able to open the oil dialog in the c172p from inside the cockpit by clicking in the hotspot which is outside in the nose of the plane). Same for the choks.

So this is no bug. But still, I'd say we add that conditional, it's a really simple sol

[2016-07-17 12:03] HHS81 commented on #108
yep, but I wonder how making the breakers work will reduce fps....

[2016-07-17 12:04] HHS81 commented on #107
Oh, I read FGAddon Release **1**, that's why

[2016-07-17 12:04] gilbertohasnofb commented on #107
I see :smile: I think most if not all these new issues I opened are marked as 2

[2016-07-17 12:05] gilbertohasnofb commented on #111
Let me know what you think so I can continue to work on it, I was literally doing that right now.

[2016-07-17 12:05] HHS81 commented on #111
o.k. go on :smile:

[2016-07-17 12:05] gilbertohasnofb commented on #111
:+1:

[2016-07-17 12:06] gilbertohasnofb commented on #108
Why would that be the case? But even if they do, would that be so significant? I think that having all switches clickable is important.

[2016-07-17 12:07] HHS81 commented on #110
So much as I remember that wasn't like that before. It was never be possible to click on a hotspot when not visible. I think there is even a bug report in the ticketing system about that.

[2016-07-17 12:11] gilbertohasnofb commented on #110
Ah really? I didn't know that. I remember being able to click on this oil dialog since quite some time, possibly at least since 3.6, maybe even eaerlier.

[2016-07-17 12:11] HHS81 commented on #108
the more objects the more work the gpu has. Currently the c182s has very good framerate compared to c172p and SenecaII, even to some of the lower detailed aircraft by helijah.

I didn't try the dhc6, which has this now implemented to see how it performs.
But I agree we should have all switches working

[2016-07-17 12:13] gilbertohasnofb commented on #110
I couldn't find that bug report, the only similar one (but fixed) was regarding that the yellow contours of the hotspots were visible through the fuselage when pressing Ctrl+C, and this has been fixed. But I didn't find anything about clicking through objects.

By the way, the only exception to this clicking through is the ground in FG: if the camera is so low that it's below the surface, you can'

[2016-07-17 12:13] HHS81 commented on #110
hm...

[2016-07-17 12:14] gilbertohasnofb commented on #108
We could try creating these breakers as objects (even if roughly, just as cubes for instace) and measure the performance.

[2016-07-17 12:15] gilbertohasnofb commented on #110
The thing is that the conditional isn't that ugly and it solves the issue from our side. I will probably suggest the same for the c172p.

[2016-07-17 12:24] HHS81 commented on #110
If it's not a globa bug, yes. But I don't like to work around things which should be fixed global.

[2016-07-17 12:27] gilbertohasnofb commented on #110
I completely sympathize with that, but I am personally not really willing to bring this to the dev list and face a 57 messages long exchange with Thorsten pointing out how stupid this idea is. Well, it's not much of a big deal now, but from the pilot's point of view the chocks are extremely close to the region of the fuel selector, and so people will inadvertently toggle them on/off while changing

[2016-07-17 12:38] HHS81 opened #112 "Disable/ Hide VNE-decal on the upper left panel"
Otherwise users will think that the C182 S is able to fly above 18000ft.
This warning decal applies only to Turbocharged C182, since there are able to fly above 18000ft.

When sometime we decide to make the T C182 T, it can be enabled again.

PR is on the way....

[2016-07-17 12:42] gilbertohasnofb commented on #112
My bad, thanks for fixing it.

[2016-07-17 12:45] HHS81 commented on #112
don't worry, will be usefull sometime later

[2016-07-17 13:31] gilbertohasnofb commented on #111
Better textures are already on branch `Issue-111`:

![fg-0](https://cloud.githubusercontent.com/assets/5700795/16900905/4e6ae446-4c33-11e6-8c44-56dd39d372d1.jpg)

![fg-1](https://cloud.githubusercontent.com/assets/5700795/16900906/4e780612-4c33-11e6-9514-127f9fd134f8.jpg)

But there are two problems with the 3D model for which I need your help:

1) the UV mapping of the knobs of the Heading Indica

[2016-07-17 13:34] HHS81 commented on #111
I take a look

[2016-07-17 13:35] gilbertohasnofb commented on #111
Thanks! :+1:

[2016-07-17 14:13] gilbertohasnofb commented on #112
Ok, thanks!

And totally out of topic, but I just checked my spam folder and once again I found your last e-mails to the dev-list there, so it might be other people aren't receiving them either. If I am not mistaken, there were some issues with Yahoo addresses in some of these lists I participate.

[2016-07-17 15:10] gilbertohasnofb commented on #43
@HHS81 I seem to recall that we already talked about this before, though I am not sure about it (nor do I remember what was proposed), but shouldn't the RADIO LT dim all the digital displays in the radiostack? In the 172, setting the RADIO LT to 0% activates the daylight mode, which means full brightness of digits and no backlight illumination of buttons and toggles. Then 1% to 100% control the in

[2016-07-17 15:14] HHS81 commented on #43
All radios need work, as they all behaves different regarding dim. The upper DME shows how it should be.
Regarding the background of the radio stack, I didn't found how to change it. I wonder if we just should skipp it

[2016-07-17 15:19] gilbertohasnofb commented on #43
Ok!

That could be a solution. Another solution would be to make it get bright together with the flood light, so that it's possible to have both at weak settings.

[2016-07-17 15:51] gilbertohasnofb commented on #111
Closed via https://github.com/HHS81/c182/pull/115

[2016-07-17 15:51] #111 closed

[2016-07-17 15:51] gilbertohasnofb commented on #112
Closed via https://github.com/HHS81/c182/pull/113

[2016-07-17 15:51] #112 closed

[2016-07-17 15:51] gilbertohasnofb commented on #106
Closed via https://github.com/HHS81/c182/pull/113

[2016-07-17 15:51] #106 closed

[2016-07-17 15:53] gilbertohasnofb commented on #84
It seems all these files were removed except for `/Models/FuselageTexturing.png`. Do you still need it?

[2016-07-17 15:54] HHS81 commented on #84
I don't think we need, it shows the uvmap

[2016-07-17 15:54] gilbertohasnofb commented on #84
Ok, I will make a PR to remove it.

[2016-07-17 15:56] gilbertohasnofb commented on #84
Done, see: https://github.com/HHS81/c182/pull/116

[2016-07-17 16:01] #84 closed

[2016-07-17 17:06] gilbertohasnofb opened #118 "create wiki page"
create wiki page

[2016-07-17 21:03] HHS81 commented on #69
when released in FGAddon, we should not forget about that

[2016-07-17 21:13] gilbertohasnofb commented on #118
Just for reference (and for me to remember afterwards), @HHS81 wrote:

[2016-07-18 10:49] gilbertohasnofb commented on #69
Agreed. So let's reopen this issue as not to forget!

[2016-07-21 21:05] Maurycy-Sokolowski commented on #103
Sorry for the delay... after renaming to c182 it seems to work great! so yes that did fix it.

[2016-07-21 21:28] gilbertohasnofb commented on #103
Great, thanks for letting us know!

[2016-07-21 21:28] #103 closed

[2016-07-25 11:10] gilbertohasnofb commented on #69
@HHS81 Let me know once you added our work to FGAddon so I can announce it in the newsletter

[2016-07-25 12:20] gilbertohasnofb opened #120 "Add ratings to our plane"
Most planes in FG have ratings for FDM, Systems, Cockpit and Model, and it's up to the creators to decide for the numbers.

I would say that Cockpit is certainly a :star::star::star::star::star:, probably Model as well. For the FDM I would suggest a :star::star::star::star:, similarly to the c172p -- as @onox wrote before:

As for systems, we still have to implement a lot of them, so it should be

[2016-07-25 12:21] gilbertohasnofb commented on #120
See: https://github.com/Juanvvc/c172p-detailed/issues/240

[2016-07-25 12:32] gilbertohasnofb commented on #118
Heiko, please take a look at this, as I also should add the ratings to the wiki: https://github.com/HHS81/c182/issues/120

Also, whom else besides we two should I list as authors? Did you base this project on Stuart's 182 or did you completely start from scratch? I will mention onox and wlbragg. And what about dany93? His name is written in the `c182s.xml` file.

[2016-07-25 12:33] gilbertohasnofb commented on #118
If we should add Stuart and Dany, then we should also add their names to the `README.md` file.

[2016-07-25 12:41] gilbertohasnofb opened #121 "Add checklists (clickable from the cockpit)"
- [x] Add checklists
- [x] Make them accessible from the cockpit

[2016-07-25 13:06] gilbertohasnofb commented on #121
We can also add a 3D model of the checklist in the pocket on the left side of the pilot's pedals and open the checklists once the user clicks there (similar to the c172p).

[2016-07-25 14:02] gilbertohasnofb commented on #118
The first sketch is done, please see: http://wiki.flightgear.org/Cessna_182

[2016-07-25 14:07] gilbertohasnofb opened #122 "Bug: aircraft loads in strange position"
Sometimes the aircraft loads in strange position, with the tail touching the runway. This is for instance at LIRN runway 24:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/17104104/b3fc670e-5281-11e6-97d9-bd0e864835c6.png)

[2016-07-25 14:08] gilbertohasnofb opened #123 "Implement autostart function"
Right now starting the engine is trivial, but once we have a realistic startup simulation then we should add a autostart function (which should also take care of oil level, securing elements and static objects, fuel contamination, fuel quantity, etc.)

[2016-07-25 14:10] gilbertohasnofb opened #124 "Create fuel and luggage dialogs"
Create fuel and luggage dialogs and open them automatically when clicking on the 3D objects (fuel tank caps and luggage door), similarly to the c172p

[2016-07-25 14:12] gilbertohasnofb opened #125 "Implement oil management"
Implement oil management, create a dialog for checking oil level and create a hotspot around the place the oil tank cap in the aircraft nose (see c172p for an implementation of this idea)

[2016-07-25 14:14] gilbertohasnofb opened #126 "implement fuel contamination"
Implement fuel contamination, create a dialog for checking fuel and create a hotspot below the wings  (see c172p for an implementation of this idea)

[2016-07-25 14:16] gilbertohasnofb opened #127 "add more sounds to the airplane"
We can add more sounds to our plane. We can borrow some of them from the c172p, or I can come up with more of them (in the c172p, I did most of the work with the wav files, while @onox did most of the implementation in xml). The particularly nice ones are:

- rain and thunder sound
- parking break lever
- buttons and switches
- crash and damage sounds

[2016-07-25 14:17] gilbertohasnofb opened #128 "Improvements to the Radio Stack"
Recently, @wlbragg and I did a lot of improvements in the radio stack of the c172p. We could check if those improvements are not fit for the c182 as well.

[2016-07-25 14:29] gilbertohasnofb commented on #69
@HHS81 I have already prepared the text for the newsletter release. I used an e-mail you sent me where you list all the features. I just did some few alterations and fixed some typos. This is the wiki code:

[code]

[2016-07-25 14:38] gilbertohasnofb commented on #123
Once we have a more realistic startup simulation, I can implement this myself.

[2016-07-25 19:20] wlbragg commented on #124
Don't forget to add and subtract the weight to/from the FDM also. What makes this feature so cool is the effect it has on the flight dynamics. The j3cub gets really interesting when you use any of the features that add or subtract weight. You can create an overloaded situation that is a real challenge to fly, including COG issues depending on where you put that weight. It can even be done by the i

[2016-07-25 19:41] gilbertohasnofb commented on #124
The dialog will only change the properties `/consumables/fuel/tank[0]/level-gal_us` and `/consumables/fuel/tank[1]/level-gal_us`. Those properties should be connected to the FDM automatically, and if not that would be another issue.

I just tested it now and changing the fuel in the c182 does affect the balance and weight, so I can implement this exactly like I did in the c172p

[2016-07-25 19:43] gilbertohasnofb opened #129 "Default number of passengers"
The default number of passengers in the payload and weight dialog is 4 -- that is, pilot, copilot and two passengers are weighting more than 0. I think our default should be only the pilot weight, with no copilot nor passengers.

[2016-07-26 18:23] HHS81 commented on #120
Actually, the c182s fdm uses coefficients from an aerodynamic book, and is tuned to the values given in the POH. So it would be indeed a :star::star::star::star::star:.
But since the engine gives not yet the right numbers at idle, I would stick to four stars.
And I think we should add this to milestone FGAddon Release 1

[2016-07-26 18:28] HHS81 commented on #118
@gilbertohasnofb
yes, Dany and Stuart should be added, though I mostly started from scratch. Also should bel Ron Jensen aka jentron be added. The prop file is based on his work and he gave some important tips for the upcoming work on the engine.
And of course we should not forget David Megginson - he published the coefficients the fdm uses.

[2016-07-26 18:31] HHS81 commented on #118
@gilbertohasnofb
I have read you first sketch. I noticed some typos, and I would like to extend a bit the checklist. Otherwise it is great! :+1:
In the checklist you wrote "1/8 throttle" - where do you got this? I always found 1/4 inch. If "1/8 throttle" is also true then I would finally have the real length of the throttle!

[2016-07-26 18:33] HHS81 commented on #122
@gilbertohasnofb That's due the front gear. When the aircraft is loaded it literally "falls" down on the scenery ground. The front gear makes the aircraft spring back, and due the aft CoG it will rest like that.

Did you test it with just one person?

[2016-07-26 18:36] HHS81 commented on #124
@wlbragg
I have placed pointmass at exactly the points where given in the fdm/ weight and balance sheets. And I have the correct tensors. And indeed the last time I checked the aircraft behaved exactly (+/- one inch) like written in the POH.

The aircraft can already be overloaded and having inappropriate weights, we just don't get any arning messages yet, and I haven't tested yet how it will affe

[2016-07-26 18:38] HHS81 commented on #127
One source could be Youtube - I found once a video starting a c182 with exactly our engine. The sound was quite nice and completely different what we have. We just need to ask and hope the best....Everythings else sound good to me.

[2016-07-26 18:40] HHS81 commented on #129
I used this for testing as the POH only uses the MTOW with four passengers. So keep this setting for devel, and one pilot for release

[2016-07-26 18:43] HHS81 commented on #69
Should I create a new branch for renaming to `Aircraft/c182s/models/c182s.xml`?
I'm currently not sure since we should or must rename the whole prject then....

[2016-07-26 18:51] gilbertohasnofb commented on #120
Sounds good, so we keep it at 4 for now, then change it for 5 as soon as the engine is improved.

Agreed!

And what about the systems, which number should we have? I put 2 stars at the wiki, but I wanted to ask you what do you think.

[2016-07-26 18:51] gilbertohasnofb commented on #120
Just let me know about the systems, I will add the ratings and make a PR still today

[2016-07-26 18:52] gilbertohasnofb commented on #118
Thanks! :smile: As for the typos and extension of checklist, you can either do that yourself directly at the wiki or tell me here and I'd be happy to edit them for you.

[2016-07-26 18:55] gilbertohasnofb commented on #122
No, default weight.

Would you have any idea how to fix this? This is the first plane I have seen with this issue. I can ask in the mailing list for ideas if you'd like to.

[2016-07-26 18:56] gilbertohasnofb commented on #124
Okay, so in that case I will implement this today as well :smile:

[2016-07-26 18:57] gilbertohasnofb commented on #127
Yes, Youtube could be a good source, I just don't have (nor want to have) a Google+ account in order to contact people on Youtube. If you do find something, just let me know and I'd be happy to clean and loop the sound.

[2016-07-26 18:57] gilbertohasnofb commented on #127
In the meantime, I will add these sounds from the 172 (maybe not today but soon).

[2016-07-26 18:59] gilbertohasnofb commented on #129
Do we really need to do that? If we are happy with the FDM and we are not testing it, then it's quite annoying to keep two versions of the airplane and it can easily lead to confusion. I would say we can keep one pilot at master, and that's it. If we ever need to test something exhaustively that needs 4 pax, then we can very well set it in the branch that feature is being worked on and remember to

[2016-07-26 19:02] gilbertohasnofb commented on #69
I thought we had decided to stick to `c182` without the `s`, and if we ever create a model T then we keep the project folder as `c182` and then the models as `c182s` and `c182t`. So in that case I'd just leave it as it is.

[2016-07-26 19:03] HHS81 commented on #118
:sad: But - if this is from the c172 maby it is stilkl right for the c182s?

[2016-07-26 19:03] gilbertohasnofb commented on #69
But is the newsletter post good in your opinion? If so I will add it there as soon as we have the plane at FGAddon. (I will also ask someone with a forum account to announce it in the 182's forum page)

[2016-07-26 19:05] gilbertohasnofb commented on #118
What do you mean, are you looking for the total length of the throttle lever in our model? Because if so, then that number is something else, it simply tells you how many inches the throttle has to be pushed in (or "opened") in order to start the engine, right?

[2016-07-26 19:05] HHS81 commented on #129
I need this setting for further testing, especially when thw work on the engines is going on.

[2016-07-26 19:06] gilbertohasnofb commented on #129
But can't you then just use it in the branch you are working on the engine? Do you really need it on the `master` branch?

[2016-07-26 19:12] HHS81 commented on #129
I need it somewhere. Why we don't comment out the setting I need, and keep the settings for one person in the file just below?

[2016-07-26 19:14] HHS81 commented on #118
Exactly. When I modelled the throttle I had no idea about its real length. I only guessed. But when we know the real length, we can change it, and use it for the realistic startup simulation

[2016-07-26 19:18] HHS81 commented on #69
I'm a bit confused, especially after reading the devel-list.
My concern now is that the whole `c182` folder will get too big as it will include a lot of versions maybe later.
Otherwise it is easier like that.... Decisions about Decisions

The newsletter post is really good. I like the images! I will wonder about the reaction from FGMember..... :smile:

[2016-07-26 19:21] HHS81 commented on #127
I will try to contact them soon as possible. There are also sounds for the Dornier 328 TP I need, so I can do it at once....

[2016-07-26 19:22] HHS81 commented on #120
I think we can keep the ratings, as they are. Systems are not yet quite realistic, so two stars are o.k.

[2016-07-26 19:24] gilbertohasnofb commented on #120
:+1:

[2016-07-26 19:27] gilbertohasnofb commented on #118
I tried looking for the total length but couldn't find it :cry: But your "educated guess" looks quite all right to me!

[2016-07-26 19:30] #120 closed

[2016-07-26 19:32] gilbertohasnofb commented on #127
I can give you a hand cleaning and looping the Dornier sound as well

[2016-07-26 19:34] gilbertohasnofb commented on #118
Thanks for editing the wiki page, it looks much better! And sorry for the typos :cry:

But just one thing: you put a link to the Weight and Balance excel sheet, but see what happens when you try clicking on the link: http://www.freechecklists.net/getDoc.asp?fpath=docsStorage/Chris_Davis_C182S-WB.XLS

So we have to remove it.

[2016-07-26 19:34] gilbertohasnofb commented on #129
That sounds like a plan. I will take care of it.

[2016-07-26 19:36] gilbertohasnofb commented on #69
I realised that all our files are already called c182s-***.xml anyway, so maybe we can rename the folder as well. We just need to be 100% to fix __all__ paths when doing it as not to introduce new bugs and errors.

[2016-07-26 19:39] gilbertohasnofb commented on #118
I removed the link. As for the wiki page, so if you are happy with how it looks now I think we can close this issue.

[2016-07-26 19:42] HHS81 commented on #69
I'm not sure if I can change the folder name on FGAddon. If possible there would be no problem. I will checkt it....

[2016-07-26 19:43] gilbertohasnofb commented on #69
Probably easier would be to add a new folder c182s with our project and then delete the older c182 folder

[2016-07-26 19:46] HHS81 commented on #118
Hmm, bad.
This is the one which works for our aircraft very best. I wonder hwo we can lead users to it....

[2016-07-26 19:47] gilbertohasnofb commented on #118
I have the link to their website in the wiki, see the second link called "Cessna 182S Checklists"

[2016-07-26 19:50] HHS81 commented on #118
yes, I know, but explicit to the W&B sheet

[2016-07-26 19:50] gilbertohasnofb commented on #118
yeah, that is not possible :cry:

[2016-07-26 19:53] HHS81 commented on #118
I have an idea.... :sweat_smile:

[2016-07-26 19:55] HHS81 commented on #118
done

[2016-07-26 19:57] HHS81 commented on #69
Yeah, if possible... I have to ask on the devl-list

[2016-07-26 20:28] gilbertohasnofb commented on #118
:+1:

[2016-07-26 20:43] wlbragg commented on #124
:+1:

[2016-07-26 21:00] gilbertohasnofb commented on #124
:smiley_cat:

[2016-07-26 21:35] gilbertohasnofb opened #134 "Console error"
The console outputs the following error:

`osgDB ac3d reader: could not find texture "Default.png"`

* * *

Original post:

[2016-07-27 17:11] gilbertohasnofb commented on #126
The POH mentions fuel tank sump quick drain **valve** (note the word in singular) on the nose of the aircraft, but fuel tank sump quick drain **valves** (note the word in plural) under each wing. Do you guys know exactly how many sumps the 182S has and where these are located? To implement this, I'd need help from someone to create hotspots just like @wlbragg did for the c172p.

[2016-07-27 17:14] gilbertohasnofb commented on #125
I wanted to start working on this, but here are a couple of questions before:
- where exactly is the oil tank on the 182S? Is this the cap?:
![](http://cdn2.planeandpilotmag.com/stories/2008/june/ntsb-IMG_1790.jpg)
- if it is, I think we should add it to the liveries, or better yet to a heightmap like we did for the c172p
- once we know where the oil tank cap is, to implement this, I'd need help f

[2016-07-27 17:39] gilbertohasnofb commented on #125
Info for myself: oil tank can take up to 9 quarts, critical value is 4 quarts

[2016-07-27 17:48] HHS81 commented on #125
The oil cap is on the right fuselage in front of the door. It is drawn on the texture and included by the normalmap I think.

I can add a hotspot but not today.

Please consider a use of different types of oil. This can be simulated by jsbsim and Cannstatt bei propably implemented by me. Thanks to Ronald again!

[2016-07-27 17:50] HHS81 commented on #125
To make sure: Oil cap: not on the Top of the engine cowling but on the side.

[2016-07-27 17:51] HHS81 commented on #125
Ronald = Ron!!! F*** automatic correction on my Smartphone

[2016-07-27 17:54] HHS81 commented on #126
Quick drain:exterior exactly below fuel tank selector. I think I drawn it or even modelled it.
Thes other ones are not yet known to me.

[2016-07-27 18:01] gilbertohasnofb commented on #125
Oh, I see it now! Perfect :+1:

No rush

Hmm, I don't know how that would work then. In the c172p, I implemented it using a Nasal function. Basically if the engine is on, the oil level goes down (depending also on RPM). If oil level very low, engine coughs, if critical then it fails or can't be started.

If you want something fancier than that than I might not be the right person to work on this i

[2016-07-27 18:08] gilbertohasnofb commented on #126
Which one is it exactly?

![fgfs-screen-003](https://cloud.githubusercontent.com/assets/5700795/17186458/a778682e-5435-11e6-99b7-09c25a197663.png)

And for the wings, I think the sumps are these three holes marked in yellow (maybe the other green one as well? though it looks like it belongs to the pitot tube system):

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/17186489/c

[2016-07-27 18:08] gilbertohasnofb opened #135 "Improve UV mapping of wheel strut"
Improve UV mapping of wheel strut:

![fgfs-screen-002](https://cloud.githubusercontent.com/assets/5700795/17186509/dc556308-5435-11e6-943d-4e0f039923e7.png)

[2016-07-28 20:07] wlbragg commented on #134
Yes, I have the same errors/warning. I think it is the same thing we discussed on the c172p thread. It can be corrected by defining the associated properties in the -set file instead of the ancillary file.

[2016-07-28 20:53] gilbertohasnofb commented on #134
Hmm, I see. Please remind me what was the disadvantage of defining them in the -set file again?

[2016-07-28 20:55] HHS81 commented on #125
Nothing wrong with (beside using nasal here - nasal really needed for that?)
But each types of oil has different viscosity and decreases engine power more or less. And I think it has an influence on the oil level as well. So user can decide which type of oil they want to use and which influence they want to expect (less influence on power but faster loss, or the way around....)

[2016-07-28 20:57] HHS81 commented on #125
Oh, and of course the most important thing: how temperature act on it. A less warm oil has more vicsosity --> more friction in the engine --> less power

[2016-07-28 20:58] HHS81 commented on #134
@wlbragg I did, but it didn't went away.

[2016-07-28 22:15] HHS81 commented on #125
I was wrong: Cessna 182T
http://www.highlandstoday.com/storyimage/HI/20140503/ARTICLE/140509970/AR/0/AR-140509970.jpg

But not sure if true for S-Version

[2016-07-28 22:19] HHS81 commented on #125
yes: http://cdn.avweb.com/media/newspics//196730_add_oil_cessna.jpg

[2016-07-28 22:27] HHS81 commented on #125
even better visible:

[2016-07-28 22:28] HHS81 commented on #125
needs some work now from me

[2016-07-28 22:28] wlbragg commented on #134
Did you remove the definition from indicated-airspeed.xml?

@gilbertohasnofb the only downside was the arguments of initializing properties in the file that  uses them. Which I think is not a good enough reason to accept warnings of this kind. Not to mention we define virtually all other properties in the set file.

[2016-07-28 22:29] HHS81 commented on #134
@wlbragg  I think so

[2016-07-28 22:50] gilbertohasnofb commented on #125
Heiko, in that case I think I won't be able to implement this myself, sorry :cry:

[2016-07-29 00:01] gilbertohasnofb opened #136 "propeller reflection"
From the cockpit view, the propeller seems to be quite reflective. I think this is unrealistic because (as far as I know) the back of the propeller should be dark grey (almost black) as not to have any kind of reflections towards the pilot during the flight. See:

![c182-0 copy](https://cloud.githubusercontent.com/assets/5700795/17233465/5c81a352-5530-11e6-9d4b-4dfc8634df5e.jpg)

[2016-07-29 00:03] gilbertohasnofb opened #137 "Gauges illumination doesn't match panel"
The illumination of the gauges does not seem to match the illumination of the panel. See examples below:
- Ex. 1: panel is dark but gauges are very bright; they seem to be very detached from the panel
  ![c182-0](https://cloud.githubusercontent.com/assets/5700795/17233499/a0fcb3dc-5530-11e6-8bb8-340070aa442c.jpg)
- Ex. 2: now both panel and gauges are matching illumination and the whole thing look

[2016-07-29 05:06] wlbragg commented on #134
I'm looking at the code and files right now, one thing I see is a duplicate entry in c182\c182s.xml

Starting at line 1387

[code]

I went ahead and made a PR.

[2016-07-29 11:01] gilbertohasnofb commented on #134
@wlbragg your PR indeed solves the errors in the first 6 lines of my report above, thanks :+1:

I still get the texture error though: `osgDB ac3d reader: could not find texture "Default.png"`. @HHS81 would you have any idea what's that about?

[2016-07-29 11:01] gilbertohasnofb commented on #134
Probably it would make it easier if we try to fix that in the same PR before merging it

[2016-07-29 14:54] #129 closed

[2016-07-29 14:55] HHS81 commented on #137
noticed some days ago - no idea why...

[2016-07-29 14:56] HHS81 commented on #135
the uvmap is o.k. it is the modelling

[2016-07-29 14:57] HHS81 commented on #134
@gilbertohasnofb
That's something new, I have to check which object uses still Default.png and should not

[2016-07-29 15:00] HHS81 commented on #125
You can implement the oil management, I would add the additional features on top of it. At least the influence of temperature is something I would like to have, but depends on the engine simulation, which needs improvment as you know.

[2016-07-29 15:01] gilbertohasnofb commented on #137
Maybe @wlbragg would have some ideas about it?

[2016-07-29 15:02] gilbertohasnofb commented on #134
Ok, so let's keep this issue opened and I will update the description above

[2016-07-29 15:05] gilbertohasnofb commented on #125
The thing is I am not familiar at all with how to do this without Nasal. I will take a look on what would be required to do it using XML, and I will report back, but really feel free to grab this issue if you feel like, I think you are much more knowledgeable for this than me :smile:

[2016-07-29 15:12] HHS81 commented on #137
After a test I think it is the material setting itself. (too much specular)

[2016-07-29 15:13] gilbertohasnofb commented on #137
Is the shadow effect applied to the gauges as well?

[2016-07-29 15:16] HHS81 commented on #137
no, as I understood Thorsten it sin't possible as they are not part of the ac-model.

[2016-07-29 15:18] gilbertohasnofb commented on #137
I think I once read that if the gauges have their absolute position defined in the .ac model as opposed to translations and rotations in the model xml file, that would be possible. Wasn't it @wlbragg who told me that?

[2016-07-29 15:19] gilbertohasnofb commented on #137
See: https://github.com/Juanvvc/c172p-detailed/issues/790

[2016-07-31 10:57] #134 closed

[2016-07-31 14:45] gilbertohasnofb commented on #29
@HHS81 Can we close this issue?

[2016-07-31 14:46] gilbertohasnofb commented on #30
@HHS81 Has this been implemented already?

[2016-07-31 14:46] gilbertohasnofb commented on #32
@HHS81 Can we close this issue? Or are still some textures with unused alpha channels?

[2016-07-31 15:01] HHS81 commented on #32
I don't think so, so we can close

[2016-07-31 15:01] #32 closed

[2016-07-31 15:02] HHS81 commented on #29
yes

[2016-07-31 15:02] #29 closed

[2016-07-31 15:03] HHS81 commented on #30
No, we should keep this open. Only the author of the tracking animation knows how to use his feature, until everyone else knows this we keep this

[2016-07-31 15:04] gilbertohasnofb commented on #30
:+1: And why is the author by the way?

[2016-07-31 15:07] HHS81 commented on #30
https://github.com/tomgey/blender-io_scene_fdm

[2016-07-31 15:09] gilbertohasnofb commented on #30
I see. Let's keep this opened, but let's also keep the hopes down: it has been 3 years since that user last commit anything, so that repository might very well be abandoned.

[2016-07-31 15:17] #124 closed

[2016-07-31 15:18] HHS81 commented on #136
fixed with latest merge

[2016-07-31 15:18] #136 closed

[2016-07-31 15:20] gilbertohasnofb commented on #136
Confirmed :+1:

And by the way, Heiko, I think we should delete a lot of the branches we have. For instance, in the c172p we just keep the `master` and any other branches that we are still working. Once something has been implemented, the branch is deleted.

[2016-07-31 15:25] HHS81 commented on #136
yep, we forget some to delete.
To make it easy- we just keep:
Classic (has previous 3-model which shows the pre-1996 c182), every else I delete

[2016-07-31 15:26] gilbertohasnofb commented on #136
Exactly!

[2016-07-31 15:31] HHS81 commented on #136
Done!

[2016-07-31 15:33] gilbertohasnofb commented on #136
Perfect, now how clean does that branch menu look now! :clap:

[2016-07-31 15:34] HHS81 commented on #136
And now I cpmplete the FGAddon. I alreadyhad an very first initial import at FGAddon with LIcence, and thumbnail.jpg. Now comes the rest! :smile:

[2016-07-31 15:36] gilbertohasnofb commented on #136
Really happy about it, Heiko. As soon as the plane is available there, let me know so I can update the newsletter!

[2016-07-31 15:39] HHS81 commented on #136
Sure! btw, should we add the paintkits to FGAddon as well? They are quite big, the livery database is the better place.

[2016-07-31 15:44] gilbertohasnofb commented on #136
You mean the xcf files from the c182-Textures repo? I think that's an overkill, those files are almost 200 Mb in size.

[2016-07-31 15:46] gilbertohasnofb commented on #136
Also, the file `README.md` has the following phrase:

I think that's clear enough

[2016-07-31 15:49] HHS81 commented on #136
O.k., so I'll send it just to Gijs, maybe he will add it. If not, we have the link and make it a bit more clear in the wiki.
We should also change the title of the wiki page to "Cessna 182 S"

[2016-07-31 15:49] HHS81 commented on #136
Btw: It is available now in FGAddon! :smile:

[2016-07-31 15:51] gilbertohasnofb commented on #136
Yay! :tada: :balloon: :beers: I will add the release notes to the newsletter right now!

I will try doing that as well

[2016-07-31 15:59] gilbertohasnofb commented on #118
See the new page with the "S" in the title: http://wiki.flightgear.org/Cessna_182S

[2016-07-31 15:59] #118 closed

[2016-07-31 16:03] gilbertohasnofb commented on #69
Done, see: http://wiki.flightgear.org/FlightGear_Newsletter_July_2016#Cessna_182S_Skylane

[2016-07-31 16:03] #69 closed

[2016-07-31 16:03] gilbertohasnofb commented on #69
BTW, Heiko, we should also rename the repo https://github.com/HHS81/c182-Textures/ as c182s-Textures and then update the info at the `README.md`

[2016-07-31 16:08] HHS81 commented on #69
o.k.

[2016-07-31 17:32] gilbertohasnofb opened #139 "Aircraft Securing Dialog"
@HHS81 Is there a reason why you mixed radios and check boxes in this dialog?

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/17278136/680b6038-5755-11e6-9c07-cb656ba271d1.png)

Given that all these objects have a binary state (either are there or are not), I think check boxes make much more sense. I think radios are normally use when you can select just one single option am

[2016-07-31 17:37] HHS81 commented on #139
I never found anywhere what radios and and checkboxes originally was for. They are just for style.  So I took mhabs work on the ec135 b4 as a draft.
No issue for me

[2016-07-31 17:39] gilbertohasnofb commented on #139
That's the thing, they are not. And for people who are used to how they behave, this GUI above looks confusing. For instance, the three vertical radios for the tie-downs puzzled me at first: why could I only choose one of them? Then I realized that you used three individual radios of size 1, instead of a single radio of size 3, hence why it works. But that's confusing and that's not what they were

[2016-07-31 17:42] HHS81 commented on #139
Where is it written, that it is not? I see no difference in use. If they are not, then they should not work like they do.

[2016-07-31 17:44] gilbertohasnofb commented on #139
Radios and check boxes are not exclusive to FG, they are used in GUI in general. Surely you can use them in all sorts of way you want, but that doesn't make it intuitive. Take the example I gave you above on how radios are used.

[2016-07-31 17:45] gilbertohasnofb commented on #139
Radios and check boxes are not exclusive to FG, they are used in GUI in general. Surely you can use them in all sorts of way you want, but that doesn't make it intuitive. Take the example I gave you above on how radios are used.

A radio with a single option works like that. The thing is that radios are normally used for 2 or more options.

[2016-07-31 17:46] gilbertohasnofb commented on #139
See: https://www.nngroup.com/articles/checkboxes-vs-radio-buttons/

[2016-07-31 17:48] HHS81 commented on #139
o.k., then change it.

[2016-07-31 17:48] gilbertohasnofb commented on #139
:+1:

[2016-07-31 17:54] #139 closed

[2016-08-01 13:21] gilbertohasnofb opened #141 "Implement damage"
Create damage model:
- gear collapse
- wings light damage
- wings heavy damage (broken wings)
- engine crash (e.g. hitting the propeller in the floor)
- airplane crash

[2016-08-01 13:22] gilbertohasnofb commented on #141
@wlbragg would you be interested in this?

[2016-08-01 14:31] HHS81 commented on #141
I'm not happy with the way the c172p it does. I always notice a hit on the framerates and a short hicup when a damage occours.

My priority would be to make the aircraft fly like the real one - here making the engine let start and idle realistic. Then we should proceed to most common failures: tire blow, surface effects on braking,  front gear collapse,  engine damage,  prop strike,  icing. Flight

[2016-08-01 14:35] gilbertohasnofb opened #142 "Extend throttle, mixture and propeller levers"
I think we should extend a bit the throttle, mixture and propeller levers. Unfortunately I could not find any measurements, but compare these:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/17297383/ced2931c-5805-11e6-90e3-603441dffe08.png)

![](https://www.atsb.gov.au/media/4698044/c182_cockpit_airliners.jpg)

I have the impression our levers should be at least 50% longer.

[2016-08-01 14:38] gilbertohasnofb commented on #141
Yeah, I kind of agree with you. But right now if we hit the ground the aircraft will just bounce as if nothing happened. I think at least killing the engine or something like that should be implemented.

[2016-08-01 14:41] gilbertohasnofb commented on #142
@HHS81 I am also not a big fan of of the colour of the levers (specifically the cylindrical part that "enters" the panel). Our colour is black, while most photographs show them metallic. On the top left corner of `PanelTexturing-MainPanel.png` we have a grey rectangle which could very well be used to texturize these objects, what do you think Heiko?

[2016-08-01 14:55] HHS81 commented on #142
I think I have found the measurements for the c172 throttle and mixture. I guess they are the same for the c182. For the texture I will take a look.

[2016-08-01 14:57] gilbertohasnofb commented on #142
Perfect! And what is the size you found? I would like to check them on the c172p as well then.

[2016-08-01 15:02] HHS81 commented on #141
Depending on the impact angles and strength there are many things happening: Magnetos stops,  fuel lines breaks,  ... . Sometime a real aircraft just slides,  sometimes they break into thousand parts. It isn't simulated good enough anywhere. I don't like the behavior of the DR400 as  an example. I will think about how to solve this.

[2016-08-01 15:14] HHS81 opened #143 "add framerate friendly prop dust and spray effect."
Add a framerate friendly propeller dust and spray effect. Use a similar settings like implemented by ot-666 to the ec135 p2.

[2016-08-01 15:16] HHS81 opened #144 "icing effect using multiple dirt texture"
When icing effect implemented use multiple dirt map  in the shader for

[2016-08-01 16:40] gilbertohasnofb commented on #39
@HHS81 The model we have now looks quite improved compared to what I remember, did you work on it? It seems that while the model is really nice now, it needs some proper texturing work. What exactly is missing on this?

[2016-08-01 16:41] gilbertohasnofb commented on #21
@HHS81 I think we really need to work on this, right now we can change the magnetos position (OFF L R BOTH START) only using the keyboard (`{` and `}`). Did you think about using the c172p's model, or at least the key?

[2016-08-01 16:42] gilbertohasnofb opened #146 "Invert levers scrolling action"
Invert levers scrolling action: scroll up should increase throttle, mixture and prop, not decrease them.

[2016-08-01 16:46] gilbertohasnofb commented on #146
I will push a fix to this as soon as the PR https://github.com/HHS81/c182s/pull/145 is merged, since both affect the same file and that would then force us to do a manual merge.

[2016-08-01 16:48] gilbertohasnofb opened #147 "Altimeter initialization"
Why the altimeter always starts at 0 ft then takes quite a long time to slowly get to correct current altitude, during which time the vertical speed indicator says we are climbing? Isn't there a way of initializing the altimeter already at the correct altitude?

[2016-08-01 17:32] HHS81 commented on #147
Because the altimeter is a very good simulation of a real altimeter. I never have seen this issue beside using  ctr-u. November Issue for me

[2016-08-01 17:33] HHS81 commented on #146
I hope it will still increase when you drag the mouse
up?

[2016-08-01 17:35] HHS81 commented on #21
Together with the correct engine startup procedure,  yes.

[2016-08-01 17:36] HHS81 commented on #39
Nothing,  it is still the "old" model,  and I hope to create the matching model sometime.

[2016-08-01 17:47] gilbertohasnofb commented on #146
I don't think drag would be affected, I will test it as soon as that PR is merged.

[2016-08-01 17:47] gilbertohasnofb commented on #39
In that case, I think we should leave this opened (I believe you might have closed it by accident)

[2016-08-01 18:03] gilbertohasnofb commented on #146
Confirmed: it's possible to implement this without affecting the drag direction, but I have to learn how to do it. The c172p for instance does exactly that.

[2016-08-01 18:36] gilbertohasnofb commented on #146
Okay, so what's needed is to add this to the `c182s-set.xml` file:

[code]

Then inverting the value of _all_ `<factor>` in all slider animations. It's a bit annoying, but I think it's worth it so I don't mind to do this.

[2016-08-01 18:54] HHS81 commented on #147
No bug.
I tested it at Samedan, around 6000ft with FGFS 2016.2.1 (newer jenkins nightly-builds had been messed up and wasactually  even older than 2016.2.1)

At initializing I sometimes any needle movmement, sometimes not.
When I set to AW I see it and can be explained with different pressure model. (I see an offset of 10ft to the actual altitude on any aircraft - probably a normal, realistic erro

[2016-08-01 19:01] gilbertohasnofb commented on #147
But I mentioned that I see this behaviour just in some airport, such as SAWB. Would you mind testing at that specific airport? I wrote that in some other airports I also don't see this behaviour. At Samedan, my altimeter went from 5300 to 5500 in a matter of one second (so same behaviour, but much less pronounced than at SAWB), but take a look at the VSI (this image is several seconds, 15 seconds

[2016-08-01 19:02] gilbertohasnofb commented on #147
I am using 2016.2.1 stable, by the way.

[2016-08-01 19:16] HHS81 commented on #147
At initializing it seems not correct, yes. but something for the developers at the list.

[2016-08-01 19:17] gilbertohasnofb commented on #147
Yeah, I just wanted to make sure it was not just me who was seeing it! So if you can reproduce it, it is indeed a bug with FG (as I said, all c150, c172p and c182s show this behaviour). I will inform them about it, and let's close this.

[2016-08-01 19:17] #147 closed

[2016-08-01 19:23] gilbertohasnofb commented on #147
See for instance this: https://www.youtube.com/watch?v=M0br2eRQEjA

[2016-08-01 19:47] HHS81 commented on #142
http://i416.photobucket.com/albums/pp244/Ronson2k3/VernerControlsmall.jpg
Values in inch

from: [http://www.mycockpit.org/forums/showthread.php?t=24503](url)

[2016-08-01 19:48] HHS81 commented on #142
That mean to change the AO map. I already changed the uvmapping to this place, it should work at this place I think

[2016-08-01 20:10] gilbertohasnofb commented on #142
Thanks!

[2016-08-01 20:15] #127 closed

[2016-08-01 20:17] gilbertohasnofb opened #148 "Add sound to heading indicator offset knob"
Add sound to heading indicator offset knob. See discussion starting at https://github.com/HHS81/c182s/pull/145#issuecomment-236635367

[2016-08-01 20:21] gilbertohasnofb opened #149 "Problems with the radio stack"
Here is a list of a lot of issues, bugs and suggestions for improvements concerning the radio stack:
- [x] the ADF knob has a very good working knob, in which we can intuitively scroll up and down using the mouse wheel only, regardless if we are using the inner or outer knobs. On the other hand, the COMs, NAVs and KAP140 require using the `Shift` key for the outer knob. I would suggest we standard

[2016-08-01 20:39] gilbertohasnofb commented on #147
Ok, so I reported this at the mailing list. Let's see what happens next.

[2016-08-01 20:42] #146 closed

[2016-08-07 17:37] gilbertohasnofb commented on #142
Are you sure values are not in centimetres, Heiko? Please see: https://github.com/Juanvvc/c172p-detailed/issues/802#issuecomment-236831665

[2016-08-07 17:43] HHS81 commented on #142
@gilbertohasnofb The user who posted the image in a forum cleary stated that it is in inch:
[http://www.mycockpit.org/forums/showthread.php?t=24503&p=130775&viewfull=1#post130775](http://www.mycockpit.org/forums/showthread.php?t=24503&p=130775&viewfull=1#post130775)

[2016-08-07 19:09] HHS81 commented on #142
@gilbertohasnofb
I just pushed the correction into the branch `Issue142`. Now it needs the correction of the colors of the rod. I won't change the uvmapping, as I already did it for those rods long ago exactly for this purpose.

[2016-08-07 19:26] gilbertohasnofb commented on #142
@HHS81 looks good to me, but are all the rods suppose to be this thin? I think the throttle rod should be a bit thinner, but the mixture and prop apparently are quiet thicker  than we currently have:

![](https://www.atsb.gov.au/media/4698044/c182_cockpit_airliners.jpg)

Here you can see how A2A made their 3D model:

![](https://flyawaysimulation.com/media/images14/images/a2a-cessna-182-cockpit.jp

[2016-08-07 19:43] HHS81 commented on #142
oh, right, just the throttle rod seems to be that thin. I'll change it

[2016-08-07 19:44] gilbertohasnofb commented on #142
:+1:

[2016-08-10 20:48] gilbertohasnofb opened #151 "Add sound to fuel pump"
When toggled on, the fuel pump has a very characteristic sound, listen to 1:20 in the video below: https://www.youtube.com/watch?v=-yVMskFQZsw

[2016-08-10 20:49] gilbertohasnofb commented on #151
@HHS81 at which moments should one the fuel pump, only for a few seconds in the startup?

[2016-08-10 21:04] HHS81 commented on #151
Usually always,  except the engine is still warm(<20min). I don't see much difference between cold and hot weather. I will probably try on the weekend to implement a more realistic fuel system which will be important for the realistic engine start.

[2016-08-10 21:05] HHS81 commented on #151
Where we get such sound?

[2016-08-10 21:07] gilbertohasnofb commented on #151
I can try to recreate it either by synthesizing it or by using some other similar public domain sounds as source. I will give it a try in the next days.

[2016-08-19 18:41] HHS81 commented on #43
@gilbertohasnofb

Actually it wasn't a rendering Issue. Since Thorsten renk changed the way multiple lights are working together, the noise dissapeared. So I will enable the domelights with the next update from me (realistic startup/ engine behavior)

[2016-08-19 18:53] gilbertohasnofb commented on #43
Perfect! :+1:

[2016-09-07 20:40] gilbertohasnofb commented on #151
@HHS81 sorry I still didn't have the time to tackle this, but I hope to do it soon. Also I wanted to ask you if our avionic switch should also create this high pitched constant sound whenever it's in the ON position (see 2:21 in the video below):

https://www.youtube.com/watch?v=LeuGAxTA4fg

And would you know if this sound would also be present in the 172P by any chance?

[2016-10-16 21:06] HHS81 commented on #151
Sorry for the late answer, but I'm busy too and needed a large pause of flightgear. I currently re-arrange my mini-appartmement, so I get more room for a sofa and larger dining place.

About your request: Unfortunately the video isn't available anymore.

But there are two sounds which you will hear when avionics switch is enabled:
- the cooling fan of the avionics
- the gyro

And yes, those sounds

[2016-10-19 16:57] HHS81 commented on #151
I guess I can start with work on in about one or two weeks, my computer crashed, I had to reset it, and I could not recover yet all of my programs. All a bit too much right now....

[2016-10-19 21:00] gilbertohasnofb commented on #151
@HHS81 No problems Heiko, I also have been extremely busy lately. But today I finally found the time to synthesize that sound sound after analysing several recordings in those videos, and it's sounding quite decent if you'd ask me. Please check the file, it's in the branch `Issue-151` and the file is called `Sounds/avionics.wav`, and let me know what you think.

[2016-10-19 21:01] gilbertohasnofb commented on #151
And by the way, good luck with the apartment!

Oh, that really sucks. I had one of these catastrophic crashes once, it's really terrible. I hope you didn't lose much data...

[2016-10-19 21:03] gilbertohasnofb commented on #151
One last thing, it seems that there are several sounds from the cockpit which we need to work with: the fuel pump one, then the two you mentioned (gyro and cooling fan). I suppose the one I created is the cooling fan, correct? If so, do you know any good sources (Youtube for instance) for those other two? I would be happy to synthesize something similar.

[2016-10-23 20:47] HHS81 commented on #151
https://www.youtube.com/watch?v=d5gGktZ8x-U

[2016-10-23 20:47] HHS81 commented on #151
And the others about A2A C182

[2016-10-23 20:58] HHS81 opened #152 "Reminder: update reflection shader"
change reflection shader to the one with real fresnel effect when official available.

Thorsten Renk was so nice and changed the shader effect for me so we will have adjustable real fresnel effect. White aircraft will look now white, even with strong reflection.
 It isn't published yet, since it was still on my computer for testing when my computer broke up.
When FGFS is running again, I will prov

[2016-10-24 17:34] gilbertohasnofb commented on #152
:+1:

Really looking forward to those!

[2016-10-24 17:34] gilbertohasnofb commented on #151
Thanks!

[2016-10-26 22:05] HHS81 commented on #152
![examplesetting0](https://cloud.githubusercontent.com/assets/12649375/19746924/ed5c61c0-9bd8-11e6-870f-f62144969922.jpg)
![examplesetting1](https://cloud.githubusercontent.com/assets/12649375/19746931/f6980b4a-9bd8-11e6-934d-8830b168d1fe.jpg)
![refl-type1](https://cloud.githubusercontent.com/assets/12649375/19746937/ff8105fe-9bd8-11e6-9bef-1d8d202f3367.jpg)
![refl-type2](https://cloud.githubuserc

[2016-10-27 09:15] gilbertohasnofb commented on #152
This looks amazing, Heiko! That second picture is really cool, with the reflections on the wing and estabilizer :smile: :+1:

[2016-10-27 09:16] gilbertohasnofb commented on #152
@wlbragg maybe you want to check this out as well

[2016-10-27 11:18] HHS81 commented on #152
The shader isn't ready,  and I have to discuss with Thorsten some things before. But all 3 parameters you can see at the upper left corner can be adjusted in runtime. The Refl-Type let you choose the Type of coating and with this how the reflection changes the appearence.

[2016-11-19 20:01] HHS81 commented on #152
[https://sourceforge.net/p/flightgear/mailman/message/35497621/](https://sourceforge.net/p/flightgear/mailman/message/35497621/)

[2016-11-19 20:39] wlbragg commented on #152
Thanks guys, I am following on the dev list. @gilbertohasnofb don't let us forget this when the shader is finalized and published.

[2016-11-19 20:44] HHS81 commented on #152
I just will add a merge request with the updated files for the c182s, so you can yourself with 2017.1 how it works

[2016-11-19 21:18] HHS81 commented on #152
@wlbragg  the shader is (currently) finalized and published in the next-branch. We'll see if there will be further changes as suggested by Emilian

[2016-11-19 23:03] gilbertohasnofb opened #154 "Wing strut not connecting properly with the wings"
Wing strut not connecting properly with the wings, see:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/20459028/c91eecb2-aeb4-11e6-91da-a57342c49fd2.png)

Notice that there are small holes in between the strut and the wing

[2017-08-25 20:04] hbeni commented on #21
Hi i ported the magneto switch from the cp172. It shows its key, starter and selection works as expected.

[2017-08-25 20:06] hbeni opened #157 "Support custom immatriculation"
It would be nice to have a custom immatriculation like in the c172

[2017-08-26 11:23] hbeni opened #159 "Wrong Airspeed Indicator model"
The knob of the airspeed indicator is currently on the right, but should be left:
![image](https://user-images.githubusercontent.com/13608602/29740888-c20f19a4-8a61-11e7-8f7a-cda6b53fecc6.png)

[2017-08-26 11:30] hbeni commented on #159
By that, the gauge also does not directly reflect the green and yellow arcs etc. Is this texture related?

[2017-08-26 12:14] hbeni commented on #159
Fixed :)
![image](https://user-images.githubusercontent.com/13608602/29741225-d9ad3d28-8a68-11e7-87c5-e867f5238351.png)

[2017-08-26 12:36] hbeni commented on #159
I think this looks good now.
However, at extreme zoom levels it is visible that the rotation center is not exactly the knob center (its only off a fraction of a mm).

For the perfectionist in me and for learning purposes; how can i get the center of the object in blender? (the current coordinates i did find out using the blender cursor and a lot of fiddling around)

[2017-08-27 10:06] gilbertohasnofb commented on #159
@hbeni looking really good, thanks for all these PRs. I hope you won't mind but I will wait for @HHS81 to have his say on them, as he is the main developer of this project and much more knowledgeable when it comes to 3D modelling.

[2017-08-27 15:36] #157 closed

[2017-08-27 16:22] HHS81 commented on #159
Actually, the position of the knob is correct - because it is a airspeed indicator from a Piper, not the Cessna. :smile:
The reason is, I didn't understand how to model and animate the TrueAirspeedIndicator, so that it can be correctly used.

So actually the real issue is a wrong Airspeed Indicator Model.

[2017-08-27 16:23] HHS81 commented on #159
I changed the title from _Airspeed indicator: Knob should be left_ to _Wrong Airspeed Indicator model_

[2017-08-29 20:41] hbeni commented on #52
Today i tried to figure out how it is currently implemented so i can switch to a newly implemented system using a Systems/fuel.xml.
What do i have to disable and reenable to get a starting point?

[2017-08-30 17:32] HHS81 commented on #52
@hbeni:
To understand, that the C182S has a fuel-injected engine, and doesn't work like older Cessna.
Short: We can't use the system from the c172p here.
Please also see #107, I have already started some work.

[2017-08-30 18:45] HHS81 commented on #152
Shader has been updated

[2017-08-30 18:45] #152 closed

[2017-08-30 19:52] hbeni commented on #52
Thank you, i have noticed it. I did not find any code.
I just found out how to integrate new tanks and make the engine feed from the manifold instead of directly out of the tanks. Also the fuel selector switch is already working :)
I am aware that i cant port the c172 system, but i wanted to study it to get ideas and clarify questions i had.

currently playing with fuel :)

[2017-08-30 20:03] hbeni commented on #21
(partly fixed with PR https://github.com/HHS81/c182s/pull/156)
still open from there is:
- [ ] correct lightmap/uv mapping
- [ ] correct key model (see https://github.com/HHS81/c182s/pull/156#issuecomment-325207929)

[2017-08-30 20:38] HHS81 commented on #52
That's the easy part :-)
The harder part is making the boost pump; and let fuel-flow rising by full rich mixture; let fuel dissapearso manifold is empty after a while.... :-)

[2017-08-30 20:47] HHS81 commented on #107
Seems I have found how at least this is working, so we get correct idle numbers!

[2017-08-30 22:06] HHS81 commented on #52
I got the rpm and mp numbers at idling correct, my next step is correct fuel flow numbers. So when you are able to get a fuel injection system to model, that would be cool!

[2017-08-31 16:32] hbeni commented on #52
currently fighting with the tank flows not doing what i want.
Priming could be simulated reltively easily: My  plan is to define a manfold "tank" that gets feed by from two places:
a) the mechanical engine pump tranfsers fuel to the manifold (engine feeds from here) when engine is running
b) the electrical pump pumps if on and current is present.
=> The mechanical pump can only fill the manifold t

[2017-08-31 19:47] HHS81 commented on #52
Hmmm... some thoughts:

modelling a manifold tank in jsbsim sounds good, you can hide additional btw. in the fuel dialog.
But I would also modelling the fuelline as "tank" and get the mechanical pump and the electrical aux. pump feed from this fuelline. The mechanical pump would linked to the engine rpm, the aux. pump would run by electrical ouput and their output would be each `fdm/jsbsim/propuls

[2017-08-31 21:30] HHS81 commented on #52
Oh, and per every mp-inhg!
And this all for -20° ISA and +20° ISA I found out today....

[2017-09-01 10:24] hbeni commented on #52
Thanks for posting the schematics. I already got these from page 7-25 of the POH.
Thank you also for the ideas! What i wonder is, why you would model the pipe from the strainer outlet? My plan was to directly pump from the strainer sump (where also the drain gets modelled). This approach seems simpler to me without compromising the system handling.

Also i wonder what the real-world effects of the

[2017-09-01 17:23] HHS81 commented on #52
JSBsim is really great in simulating systems, especially the fuel system. The Aux pump will also draw the line with fuel, so my idea was to exactly simulate this, the other idea behind was, that we could model later the breakage of this fuel line when we come to damage simulation. Otherwise you are right, it would be overdone. Nethertheless, we already model the unsused fuel and it is taken in acc

[2017-09-01 17:25] HHS81 commented on #52
Nice! Enjoy your vacation!
I have you invited as collaborator, I think it will be more easy for you than using a fork.

[2017-09-01 21:27] gilbertohasnofb commented on #52
Great, so welcome! :smile:

[2017-09-08 13:11] hbeni commented on #52
Than you very much for your confidence, i try to not mess anything up ;)

I migrated my (previously private) fuelSelector branch over here where i will continue working on the fuel system.

[2017-09-09 20:54] HHS81 commented on #151
As Benedikt is working really fast, I think we need the typical fuel pump sound quite soon.

[2017-09-09 20:58] hbeni commented on #151
Yeah! :)
but the hard part is coming soon: implementing the comple procedures, i have
no clue how to do that yet...

Am 2017-09-09 22:54, schrieb HHS81:

[2017-09-09 21:02] HHS81 commented on #151
but the hard part is coming soon: implementing the comple procedures, i have
no clue how to do that yet...

That's easy:
-update FG wiki
-update help section
-implement autostart for the kids

And for all others: take the checklist and follow! 😄

Short: with your fuel simulation we have at least the engine start procedure on a really high level. You have to follow the checklist to get this thing s

[2017-09-09 21:21] hbeni commented on #151
Yes, now you have to at least adjust the ixture lever and activate the pump
:)

Am 2017-09-09 23:02, schrieb HHS81:

[2017-09-09 21:32] gilbertohasnofb commented on #151
Ok, I will take a look at the fuel pump sound as soon as I can. To which branch should I push the new sounds? I had pushed that avionics sound I created to branch `Issue-151`, did you ever had a chance to check if it's suitable to this aircraft?

[2017-09-09 21:57] gilbertohasnofb commented on #151
@HHS81 @hbeni Ok, the new sounds have been pushed to `Issue-151`, named `pump-loop.wav` and `pump-end.wav`. The first one should be looped while the pump is activated, and the `pump-end.wav` file should be played just once as soon as the pump is turned off. Also take a look if the `avionics.wav` file is suitable to this plane or not, and in case not we can remove it. So would that be enough, would

[2017-09-09 22:01] hbeni commented on #151
Hello,
i have no clue how to add sounds yet, so it would be cool if Heiko would
drop in.

Meanwhile i try to fix the fuel system, i just found out that it is really
thirsty and the autopilot cannot handle the fuel transfer between the two
wing tanks properly. :(

Am 2017-09-09 23:57, schrieb Gilberto Agostinho:

[2017-09-11 18:18] gilbertohasnofb opened #163 "Start options"
Currently the aircraft always start with the master and avionics ON and the throttle, prop and mixture levers at ready positions for a startup. I think we should we should add a radio dial with three options (only one of which could be selected) as for the startup:

* ready to start (which is what we currently have with the aircraft ready to start)
* cold and dark start (forces everything OFF)
* s

[2017-09-11 19:16] HHS81 opened #164 "Heading Indicator should be vacuum driven"
The heading Indicator should be vacuum driven. But the Flightgear model simualtes an electric driven heading indicator.

Where can it be changed?

[2017-09-11 19:44] HHS81 commented on #164
Found it: there is a difference between _heading-indicator_ and _heading-indicator-dg_
😄

[2017-09-11 20:28] HHS81 commented on #164
@gilbertohasnofb  solved?

[2017-09-11 21:16] gilbertohasnofb commented on #164
I believe so! I merged the PR but didn't realise the issue was still opened, my apologies.

[2017-09-11 21:16] #164 closed

[2017-09-13 19:44] #151 closed

[2017-09-13 19:53] HHS81 commented on #107
Some comments:
Throttle lever Position can be easily simulated -i have done it in the idle-numbers  branch already.
The engine can be started with low prop as well. It is just not recommended  by cessna. That means that we would to simulate the oil pressure driven prop govenor more exactly. In the Moment we let jsbsim do this. The Seneca II uses an own System file for the prop govenor but without

[2017-09-13 19:54] HHS81 commented on #107
Some comments:
Throttle lever Position can be easily simulated -i have done it in the idle-numbers  branch already.
The engine can be started with low prop as well. It is just not recommended  by cessna. That means that we would have to simulate the oil pressure driven prop govenor more exactly in the future. In the Moment we let jsbsim do this. The Seneca II uses an own System file for the prop g

[2017-09-13 19:55] hbeni commented on #154
Hi, i fixed this in the fuelSelector branch with commit 7226c32

[2017-09-13 20:01] hbeni commented on #107
i wonder how long the throttle is in inch, eg. how much "percent" throttle setting in the sim equals to "1/4" inch? 25%?

[2017-09-13 20:09] HHS81 commented on #107
I can tell you soon (but not today), since this is an open issue,  which I forgot to fix. (Needs a change in 3d ) Anyway,  the "1/4 inch" thing is done already by me in the engine file settings,  where I also fixed the wrong idle numbers. I forgot to push this branch,  but will do soon. Unfortunately I don't have the time today or tomorrow,  sorry.

[2017-09-14 21:04] HHS81 commented on #107
@hbeni  @gilbertohasnofb  the Harddisk of my Laptop crashed today while creating a presentation for work tomorrow. There is a small chance that I can recover my Laptop,  but will probably need some days. Luckily all FlightGear files are saved on USB-Stick. But since my Laptop is the only device able to use flightgear and all other programs I'm grounded until I have a working computer.

[2017-09-14 21:59] gilbertohasnofb commented on #107
@HHS81 Oh, Heiko, I am terribly sorry to hear that! I had this happen to me once and it's really terrible, I hope you didn't lose anything important and that you will be able to get along your presentation. Good luck with it all!

[2017-09-15 06:30] hbeni commented on #107
Yes, good luck!
Meanwhile, i found he information from another issue:

So this is approx 3.375" = 100%; 0.25"(1/4") = **7%**
Could that be right? (I dont know the real lever!)

[2017-09-16 18:04] hbeni commented on #43
I noticed that at least on my machine, only the taxi light works. The landing light does not emit light to the runway

[2017-09-17 10:32] HHS81 commented on #43
@hbeni confirmed. Fix is on the way

[2017-09-17 10:40] HHS81 commented on #43
@hbeni changed broken lamp in master, landinglight is working again.

[2017-09-17 11:38] HHS81 commented on #142
I have corrected now the diameter of the rods and pushed it into branch Issue-142

[2017-09-17 12:18] HHS81 commented on #142
and it does have now the real colors

[2017-09-18 08:34] hbeni commented on #123
I think this could be implemented easily via the automatic checklist execution once #121 is ready

[2017-09-18 08:38] hbeni commented on #107
I started a private local branch on top of #161 wh8ch i will push soon. Priming already works there but needs some adjusting of the values i think.

[2017-09-18 19:25] hbeni commented on #107
from other post: priming info 3-5seconds according :https://www.youtube.com/watch?v=-yVMskFQZsw&t=193s

[2017-09-24 12:31] hbeni commented on #109
d7ba4fc adds many options to the save-state of the aircraft; i think i got the most items already.
What is not working right now is the state of the avionics busses and battery switches  - are they overridden in some nasal script?

[2017-09-24 17:20] HHS81 commented on #109
They are set in `c182s-electrical.nas`

[2017-09-24 21:01] hbeni commented on #109
Should be fixed in PR #167 (https://github.com/HHS81/c182s/pull/167#issuecomment-331739868) already :)

[2017-09-24 21:22] hbeni opened #168 "Autopilot in HDG mode acting weird on low speeds"
When engaging the autopilot at slow speeds (<100 KIAS) in heading-mode, it sometimes behaves weird. it starts rocking and this gets more intense with time.
Without autopilot, this can be reproduced; when making a relatively sharp movement to a side (move aileron), the plane starts to bank but then shortly stops horizontal movement. I think this behavior of the plane may be confusing the autopilot.

[2017-09-24 21:29] HHS81 commented on #168
@hbeni weights are correct I think.
At low speed the Aircraft has low side stability, you need to use the rudder pedals at turns ("keep the ball centered"). At higher speeds you can leave the feet from the pedals even at turns. This is normal for this type of aircraft.
Then every autopilot has to be tuned to a specific aircraft. The values used here are from the c172p, so they need some correction

[2017-09-30 22:50] hbeni commented on #168
Tested about 1/2 hrs: ROL mode works correct.

[2017-10-01 14:16] hbeni commented on #142
fixed in master by 11c0729

[2017-10-01 15:54] #154 closed

[2017-10-01 15:56] hbeni commented on #52
fixed with  6ba98ea

[2017-10-01 15:56] #52 closed

[2017-10-01 15:57] hbeni commented on #123
fixed with  6ba98ea

[2017-10-01 15:57] #123 closed

[2017-10-01 15:57] hbeni commented on #109
Open from the pull request is the ground equipment/aircraft securing

[2017-10-01 15:57] hbeni commented on #107
fixed with  6ba98ea

[2017-10-01 15:57] #107 closed

[2017-10-01 16:30] #142 closed

[2017-10-06 06:50] hbeni commented on #121
Startet workin in a private branch. I will push this as soon as i have a somewhat stable structure.

[2017-10-06 13:47] hbeni commented on #121
Engine start checklist is pushed: https://github.com/HHS81/c182s/tree/Checklists
Please have a look if i'm on the right track here.

[2017-10-14 17:39] hbeni commented on #125
Also, when implementing this, we should implement external heater feature and initialize the oil temp to environment temp. As i read in the FGFS forums, jsbsim cant do this so we need a custom system for all that. I think to simulate the oil tank we might use another tank with proper density setting for oil, this way we can use the external flow rate to simulate rpm dependant oil consuming easily.

[2017-10-14 20:44] hbeni commented on #125
Oil pressure needs also to be simulated.

From POH 4-21:
![image](https://user-images.githubusercontent.com/13608602/31579196-4088ddce-b131-11e7-84c4-8e83fca6d307.png)

[2017-10-14 22:13] HHS81 commented on #125
In the Moment you need to throttle up to see a sufficient reaction on oil temperature and pressure.

[2017-10-14 22:15] HHS81 commented on #125
Some information about jsbsim oil simulation
http://wiki.flightgear.org/JSBSim_Engines

[2017-10-14 22:21] HHS81 commented on #125
And from the p51d: an Implementation of oil pressure and temp simulation
https://sourceforge.net/p/flightgear/fgaddon/HEAD/tree/trunk/Aircraft/p51d/Systems/propulsion.xml

[2017-10-20 21:47] hbeni commented on #53
Hi @HHS81 this evening i did have a try with blender. I failed horribly :)
I need your modeling skills urgently; the davtron model just needs some faces to display the numbers later on (like done in the immat model). I will then do the rest.

Please, i need a working 3D-model with the following named objects (2D-planes with proper material and texture linked).
I already supplied the numbers textur

[2017-10-20 21:51] gilbertohasnofb commented on #53
If one of you guys create this model, I would be happy to help with textures if anyone needs it.

[2017-10-20 21:53] hbeni commented on #53
The model is already there, what is missing is just the 2D-Planes to show the LCD-display content.

[2017-10-20 21:59] hbeni commented on #53
In the instrument model folder, i added some LCD text band textures already:
 - lcd1.png shows numbers from 0 to 9
 - lcd2.png contains the mode chars for the temp modes (1/E: Voltage, 2/F: OAT in degF; 3/C OAT in degC) as well as special chars (4/":" for the divisor of the time; 5/"." for the dot in degF/degC; 6/"-" as minus sign in case of negative degC).

I intendet to map the minus, the dot an

[2017-10-20 22:03] gilbertohasnofb commented on #53
@hbeni Unfortunately I am completely useless when it comes to any 3D modelling, including UV-mapping, materials, etc. Normally I had @HHS81 creating the UV-maps and sending me the xcf or png files ready to be textured.

[2017-10-20 22:08] hbeni commented on #53
ok, then lets wait for him to help us out...

[2017-10-21 19:31] HHS81 commented on #53
@hbeni   hmmm.... using .png for such instruments is completly outdated.
Instead using OSGText is state of the art. I used it for the EC 135 P2 and the EC 130 B4 already and it is flexible to use and there are no perfomance penalties. No need to fiddle with blender or anything else.

You just need the right font - you need the led.txf instead of lcd.txf as I can see.

[2017-10-21 19:35] gilbertohasnofb commented on #53
I was referring to the metal parts of the gauge, labels, etc., not the digital readout itself. Wouldn't it be recommended to use a .png for that?

[2017-10-21 19:54] hbeni commented on #53
Metal and all that is already here.
@HHS81 I will dig into OSGText; do you have some good hints for me to read?

[2017-10-21 19:56] gilbertohasnofb commented on #53
My bad then, I had misunderstood what this was about. All I spoke was concerning texture for the 3D model, not the readout.

[2017-10-21 20:02] hbeni commented on #121
Checklists in place, but still open:
- [ ] 3D Pocket model for easier checklist access (like in c172)

[2017-10-21 20:13] hbeni commented on #168
I have flewn nearly all modes now and they all work good now.

[2017-10-21 20:22] hbeni commented on #168
If you are okay with the behavior, i would merge that too. :)

[2017-10-21 20:23] HHS81 commented on #53
@hbeni
good examples are my helis and the Zeppelin NT

[2017-10-21 20:41] HHS81 opened #172 "FGLauncher doesn't recognize C182"
The launcher doesn't recognise and doesn't list the Cessna 182.
I'm investigating right now

[2017-10-21 20:50] HHS81 commented on #172
Found the issue: wrong path of checklists. Fix will be pushed to master immediately

[2017-10-21 20:56] hbeni commented on #172
Sorry :(

Am 2017-10-21 22:50, schrieb HHS81:

[2017-10-21 20:59] HHS81 commented on #172
fixed.
@hbeni  the path would have worked in the past, but with the new launcher....

[2017-10-21 21:00] HHS81 commented on #168
sure

[2017-10-21 21:18] #168 closed

[2017-10-21 21:41] hbeni commented on #53
Ok, i played a little with it, looks very promising.
In the branch the LCD lines are already working (fixed to degC and clock time for now; thus no working buttons). Next comes the logic...

[2017-10-22 20:02] #172 closed

[2017-10-22 22:07] hbeni commented on #53
@HHS81 @gilbertohasnofb I pushed my davtron implementation to the branch; the timer and temperature modes work like described in the manual.
Whats missing is the little indicator showing in which mode the clock is operating (UT/LT/FT/ET). This is the indicator in the lower left. I assume this has to be handled with some texture magic as its a complex image.
I cant do this currently. @HHS81 do you

[2017-10-23 20:51] hbeni commented on #125
I found the following information on oil specifications from [Shell](http://www.shell.com/business-customers/aviation/aeroshell/knowledge-centre/the-aeroshell-book/_jcr_content/par/textimage_1433441235.stream/1445042093501/281ec318e13a1739d0a798f601b7330a514cc1f8d08258b1157216fa806075c6/aeroshell-book-3peo.pdf):
![image](https://user-images.githubusercontent.com/13608602/31912515-71c3e874-b844-11e

[2017-10-24 20:05] hbeni commented on #121
@gilbertohasnofb look at this link: https://youtu.be/TI1zpg0zGug#t=07m06s how would one model that?
Just a simple shaped 2D plane and the book separately as simple block? Or both as 3D shape?
Maybe i can convince blender to do what i want some day... in 2018

[2017-10-24 20:21] gilbertohasnofb commented on #121
@hbeni I would say that it depends on how detailed you want it to look. We could simply steal the model from c172p and change the texture of the manual in case the 182S's POH has a different cover than the 172P's. See:

[img]https://s4.postimg.org/eoc55wl4d/fgfs-screen-003.png[/img]

Would you have something else in mind?

[2017-10-25 21:17] hbeni opened #173 "Make switches more easily to click"
currently the switches are hard to hit, especially when using head tracking:

![image](https://user-images.githubusercontent.com/13608602/32023767-979184fc-b9da-11e7-8cc8-cf230db33cb5.png)

We should add some clickspots there. I already looked into the model to see if the switch bases are adressable, however they are unfortunately part of the panel object, so we need to add some clickspots in the

[2017-10-25 21:22] hbeni opened #174 "Implement Garmin GMA340 audio panel"
The Audio panel is still nonfuncitonal.

![image](https://user-images.githubusercontent.com/13608602/32023995-55ca5c50-b9db-11e7-8a8b-609814d9d9ba.png)

[2017-10-25 21:25] hbeni commented on #173
This should probably be implemented in the interior model when fixing the missing model in #121, as both need adjustemtns to the interior model file.

[2017-10-27 20:51] hbeni opened #176 "Glareshield light: Flaps and trim wheels error"
Something is weird in master with the glareshield light on:

![image](https://user-images.githubusercontent.com/13608602/32124771-51e5e9d0-bb69-11e7-9c2e-6eb0afdb39a5.png)

[2017-10-27 21:24] HHS81 commented on #176
the flap lever makes use of the cockpit lightmap.
To solve:
1.) create an own lightmap (needs my blend-file/ my help)

Or

2.) remove the effect from the flap lever

This shows why every single model needs to be part of the cockpit-model, prendered and not via model-loading. And shows even more why I would prefer X-Planes rendermethods in Flightgear....

[2017-10-28 11:12] hbeni commented on #176
Disabled effect in commit 8dc8a1d
@HHS81 can you please make the lightmap work?

[2017-10-28 13:11] hbeni commented on #53
Ha! I managed doing this using OSGText again :)
@HHS81 @gilbertohasnofb If you give your OK i would merge this now.

![image](https://user-images.githubusercontent.com/13608602/32134658-392e0984-bbf2-11e7-8c4a-eabcd2805756.png)

[2017-10-28 13:57] gilbertohasnofb commented on #53
@hbeni that is looking really good!

[2017-10-28 17:13] hbeni opened #178 "Implement Multiplayer compatibility"
Make aircraft showing correctly in multiplayer with all liverys, esp. custom callsign one

- [x] xpdr has been merged:
  - Transponder does work in OpenRadar and ATC-Pie
  - Transponder IDENT does work too
- [x] Pending:
  - [x] show correct model
  - [x] Flight Control Surfaces
  - [x] different liveries
  - [x] registration in the custom livery (corebug -> see https://github.com/c172p-team/c172p

[2017-10-28 19:31] hbeni commented on #178
Just tested: base livery work already. Missing seems things like opening doors, landing lights, custom registration number showing, etc

[2017-10-28 21:02] hbeni commented on #121
Ok, again i failed with blender.
i'm giving up on this now. :(

[2017-10-28 21:08] hbeni commented on #121
For reference:
![image](https://user-images.githubusercontent.com/13608602/32138562-e44bb8ba-bc34-11e7-926c-4d7eb36e25f6.png)

[2017-10-28 21:33] hbeni commented on #53
This eveneing i found weird behavior:
![image](https://user-images.githubusercontent.com/13608602/32138715-f05a445c-bc37-11e7-97dd-e33132d4c264.png)
It is caused by environmental light; sun was at approximately 8:00 relative to plane and low on sky.
How can i influence the reflection-ness of the OSGText?

[2017-10-29 09:56] hbeni commented on #53
fixed :)

[2017-11-01 11:51] hbeni commented on #174
It seems also that the engine is too loud. ATIS is barely understandable at full RPM.
This seems unrealistic to me, at least when we assume a headset. In my opinion, the engine should be made more gentle (also the other sounds?).
I also currently try to get an answer if i can make the comm output louder than 100% (which would also be a fix, maybe a better one since we can then simulate "headset on

[2017-11-07 22:34] hbeni commented on #48
Any good pictures of this?

[2017-11-11 10:59] #173 closed

[2017-11-11 11:02] hbeni opened #181 "GMA-340: Integrate higher res chassis textue"
The GMA-340 audio panel is pretty low res.
In the repository already is a higher res image (https://github.com/HHS81/c182s/blob/master/Models/Instruments/Avionics/gma340.png).

The UVMap must be adapted to incorporate the newer image.

[2017-11-11 11:04] hbeni commented on #149
recently fixed by https://github.com/HHS81/c182s/pull/180